{{<index}}
{{$main}}
<div class="content-with-sidebars">
    <div class="left">
        {{> docs.blocks.nav}}
    </div>
    <div class="center">
        <article>
            {{& page.content}}

            {{#empty(page.context.categories)}}
            Empty.
            {{/empty(page.context.categories)}}
            {{^empty(page.context.categories)}}
            <div>
            <ul>
            {{#page.context.categories}}
                <li>
                    <a href="{{permalink}}">{{title}}</a>
                </li>
            {{/page.context.categories}}
            </ul>
            </div>
            {{/empty(page.context.categories)}}

        </article>
    </div>
    <div class="right">
        {{> docs.blocks.toc}}
    </div>
</div>
{{/main}}
{{/index}}
