{{<index}}
{{$main}}

<aside>
<h2>Docs</h2>
{{#empty(page.context.categories)}}
Empty.
{{/empty(page.context.categories)}}
{{^empty(page.context.categories)}}
<div>
<ul>
{{#page.context.categories}}
    <li>
        <a href="{{permalink}}">{{title}}</a>
        <ul>
        {{#guides}}
            <li><a href="{{permalink}}">{{title}}</a></li>
        {{/guides}}
        </ul>
    </li>
{{/page.context.categories}}
</ul>
</div>
{{/empty(page.context.categories)}}
</aside>



<article>
{{& page.content}}
</article>


<h2>List of all the docs again</h2>

{{#empty(page.context.categories)}}
Empty.
{{/empty(page.context.categories)}}
{{^empty(page.context.categories)}}
<div>
<ul>
{{#page.context.categories}}
    <li>
        <a href="{{permalink}}">{{title}}</a>
        <ul>
        {{#guides}}
            <li><a href="{{permalink}}">{{title}}</a></li>
        {{/guides}}
        </ul>
    </li>
{{/page.context.categories}}
</ul>
</div>
{{/empty(page.context.categories)}}

{{/main}}
{{/index}}
