{{<html}}
{{$main}}

<section class="primary">
    <div class="wrapper">
        <header>
            <h1>Latest posts</h1>
            <p>Browse our latest posts</p>
        </header>
        {{#empty(site.context.posts)}}
        Empty.
        {{/empty(site.context.posts)}}
        {{^empty(site.context.posts)}}
        <div class="grid grid-221">
            {{#site.context.posts}}
            {{> blog.blocks.post}}
            {{/site.context.posts}}
        </div>
        {{/empty(site.context.posts)}}
        
        <div class="centered more-posts">
            <a class="button" href="/blog/posts/page/1">Browse all posts</a>
        </div>
    </div>
</section>

{{/main}}
{{/html}}
