<aside>
    <h3>Table of Contents</h3>
    {{#empty(page.toc)}}
    Empty.
    {{/empty(page.toc)}}
    {{^empty(page.toc)}}
    <div>
    <ul>
    {{#page.toc}}
        <li>
            <a href="#{{fragment}}">{{text}}</a>
            <ul>
            {{#children}}
                <li><a href="#{{fragment}}">{{text}}</a></li>
            {{/children}}
            </ul>
        </li>
    {{/page.toc}}
    </ul>
    </div>
    {{/empty(page.toc)}}
</aside>
