body > header {
    background: #232F3D url("/images/banners/web-transparent.png") left center no-repeat;
    overflow: hidden;
    height: 320px;
    padding: 40px;
    text-align: center;
}
body > header .title {
    font-weight: bold;
    font-size: 32px;
    color: #fff;
}
body > header .description {
    font-weight: bold;
    font-size: 22px;
    color: #fff;
}
