{{<index}}
{{$main}}

<div id="posts" class="wrapper">
    <header class="blogTitle">
        <h1>Binary Birds Blog</h1>
        <p>
          Dive into the World of Full-Stack Swift Development with Us.
          <br />
          Discover Insights, Tips, and Tricks for Server-Side, Mobile, and Web
          Apps.
        </p>
    </header>

    {{#empty(page.context.posts)}}
    Empty.
    {{/empty(page.context.posts)}}
    {{^empty(page.context.posts)}}
    <div class="grid">
    {{#page.context.posts}}
        <div class="post card">
        {{> blog.blocks.post}}
        </div>
    {{/page.context.posts}}
    </div>
    {{/empty(page.context.posts)}}
    
    {{#empty(page.context.pagination)}}
    {{/empty(page.context.pagination)}}
    {{^empty(page.context.pagination)}}
    
    <div class="pagination">
    {{#page.context.pagination}}
        {{> blocks.pagination}}
    {{/page.context.pagination}}
    </div>
    {{/empty(page.context.pagination)}}

</div>
{{/main}}
{{/index}}
