iframe {
    width: 510px;
    padding: 0;
}

.form_15iP5 {
    background: var(--background-color);
    color: var(--text-color);
}

.white {
    background: white;
    border-radius: 15px;
    padding: 0 15px;
}
