a:link {
    color: var(--link-color);
}
a:visited {
    color: var(--link-color-visited);
}
a:hover {
    color: var(--link-color-hover);
    text-decoration: none;
}
a:active {
    color: var(--link-color-active);
}
html, body {
    padding: 0;
    margin: 0;
}
body {
    background: var(--background-color);
    color: var(--text-color);
    font-size: 18px;
}
h1 {
    font-size: 4rem;
    line-height: 4rem;
}
h2 {
    font-size: 3rem;
    line-height: 3.5rem;
    margin-top: 1.5rem;
}
h3 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-top: 1.5rem;
}
h4 {
    font-size: 2rem;
    line-height: 2.25rem;
}
h5 {
    font-size: 1.75rem;
    line-height: 2rem;
}
h6 {
    font-size: 1.5rem;
    line-height: 1.75rem;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 8px;
    font-weight: 800;
}
hr {
    border: none;
    border-bottom: 8px solid var(--primary-text-color);
    width: 128px;
}
hr.spacer {
    border: none;
}
p {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 16px;
    margin-bottom: 32px;
    color: var(--text-color-2);
    margin-bottom: 32px;
}
pre {
    font-size: 1rem;
    line-height: 1.5rem;
    background: var(--background-color);
    padding: 1rem;
    margin: 2rem auto;
    border-radius: 16px;
    border: 8px solid var(--background-color-1);
    margin-bottom: 32px;
}
pre code {
    text-shadow: none;
    font-family: monospace;
    display: block;
    overflow-x: auto;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
}
pre code a {
    border-bottom: 1px dotted var(--text-color);
}
li {
    margin-bottom: 16px;
}
p code, li code {
    font-family: monospace;
    font-weight: bold;
}
p code a, li code a {
    font-weight: normal;
}
li p {
    margin: 0;
}
p code a, li code a {
    border-bottom: 1px dotted var(--text-color);
}
section {
    margin-bottom: 64px;
}
img.small {
    width: 32px;
}
img.medium {
    width: 64px;
}
img.large {
    width: 128px;
}
img.rounded {
    border-radius: 50%;
}
