html, body {
    padding: 0;
    margin: 0;
}
body {
    background: var(--background-color);
    color: var(--text-color);
}
#page-container {
    padding: 32px;
}
a {
    
}
a:hover, a:active {
    cursor: pointer;
    text-decoration: none;
}

footer {
    margin: 32px;
    border-top: 0.5px solid var(--background-color-3);
    padding-top: 16px;
}
footer #logo-image {
    height: 32px;
    margin-bottom: 32px;
}


.selection-off {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


pre {
    border: 1px solid var(--background-color-2);
    font-size: 14px;
    line-height: 1.25rem;
    margin-bottom: 32px;
}
pre code.hljs {
/*    padding: 8px !important;*/
}

#docs {
    display: grid;
    grid-template-columns: 1fr;
}
#docs > div {
    overflow: hidden;
}
#docs .left, #docs .right {
    display: none;
}

#docs .left {
    border-right: 1px solid var(--background-color-2);
    padding: 16px;
}
#docs .center {
    padding: 0;
}
#docs .right {
    border-left: 1px solid var(--background-color-2);
    padding: 16px;
}
#docs .left ul {
    padding-left: 0;
    margin-top: 0;
}
#docs .left ul ul {
    list-style-type: none;
    padding-left: 16px;
}
#docs .left ul li {
    list-style-type: none;
    margin-bottom: 8px;
    font-size: 14px;
}
#docs .left ul ul {
    margin-top: 8px;
}
#docs .left ul .category {
    margin-top: 28px;
}
#docs .left ul .category:first-child {
    margin-top: 0;
}
#docs .left aside > ul > li > a {
    color: var(--text-color-1);
    font-weight: bold;
}
#docs .left ul li a {
    color: var(--text-color-3);
}
#docs .left ul li a:hover {
    color: var(--link-color-hover);
}

#docs .right aside {
    margin-bottom: 16px;
}
#docs .right ul {
    padding-left: 8px;
}
#docs .right ul li {
    font-size: 14px;
    list-style-type: none;
    margin-bottom: 8px;
}
#docs .right ul ul {
    margin-top: 8px;
}
#docs .right ul .first-level {
    margin-top: 8px;
}
#docs .right a {
    color: var(--text-color-3);
}
#docs .right ul a:hover {
    color: var(--text-color-1);
}
#docs .prev > *, #docs .next > * {
    display: block;
}
#docs .next > * {
    text-align: right;
}


@media screen and (min-width: 600px) {
    #docs {
        display: grid;
        grid-template-columns: 2fr 4fr;
    }
    #docs .center {
        padding: 16px 32px;
    }
    #docs .left {
        display: block;
    }
}
@media screen and (min-width: 900px) {
    #docs {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
    #docs .right {
        display: block;
    }
}
@media screen and (min-width: 1200px) {
    
}
@media screen and (min-width: 1500px) {
}
@media screen and (min-width: 1800px) {
}

section {
    margin-bottom: 64px;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 8px;
    font-weight: 800;
}

hr {
    border: none;
    border-bottom: 4px solid var(--link-color);
    width: 64px;
}
hr.spacer {
    border: none;
}
body {
    font-size: 18px;
    
}
h1 {
    font-size: 48px;
    font-weight: 800;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 24px;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 18px;
}
p {
    font-size: 18px;
    line-height: 1.5rem;
    color: var(--text-color-2);
    margin-bottom: 32px;
}

img.small {
    width: 32px;
}
img.medium {
    width: 64px;
}
img.large {
    width: 128px;
}
img.rounded {
    border-radius: 50%;
}

a:hover, a:active {
    cursor: pointer;
}


#tag header img {
    margin-bottom: 8px;
}

.card {
    position: relative;
    padding: 16px;
    border: 1px solid var(--background-color-2);
}

.card:hover {
    border: 1px solid var(--background-color-3);
    background: var(--background-color-1);
}
.card h2 {
    color: var(--text-color);
}
.card img {
    margin-bottom: 8px;
}
.tag-list a {
    font-weight: bold;
}
time {
    font-size: 14px;
    font-weight: bold;
    color: var(--link-color);
}
.card .featured {
    position: absolute;
    top: 8px;
    right: -8px;
    background: #6600CC;
    color: #fff;
    padding: 4px 12px;
    border-radius: 4px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

article.post {
    margin: 0 auto;
    max-width: 680px;
}
article.post header {
    margin-bottom: 64px;
}

.fixed-toc {
    display: none;
    position: fixed;
    top: 96px;
    right: 32px;
    background: var(--background-color-1);
    padding: 16px;
    border: 1px solid var(--background-color-2);
}
.fixed-toc {
    font-size: 16px;
}
.fixed-toc ul {
    list-style-type: none;
    padding-left: 16px;
}
.fixed-toc ul ul {
    margin-top: 8px;
}
.fixed-toc ul li {
    margin-bottom: 8px;
}
.fixed-toc ul .first-level {
    margin-top: 8px;
}
.fixed-toc a {
    color: var(--text-color-3);
}
.fixed-toc ul a:hover {
    color: var(--text-color-1);
}


.pagination {
    margin-top: 64px;
}
.pagination a {
    padding: 8px 16px;
    margin-right: 4px;
    border: 1px solid var(--background-color-2);
}

.pagination a:hover {
    border: 1px solid var(--background-color-3);
    background: var(--background-color-1);
}
