:root {
    --link-color: #FB9652;
    --link-color-visited: #dc5f00;
    --link-color-hover: #f05138;
    --link-color-active: #E64918;
    
    --background-color: #fff;
    --background-color-1: #f5f5f5;
    --background-color-2: #efefef;
    --background-color-3: #e0e0e0;
    --background-color-4: #afafaf;
    
    --primary-text-color: #061E38;
    --primary-background-color: #F9E1C6;
    
    --text-color: #333;
    --text-color-1: #000;
    --text-color-2: #182533;
    --text-color-3: #999;

    --white-color: #ffffff;
    --black-color: #000000;
    --blue-color: #006fff;
    --green-color: #2ec04f;
    --indigo-color: #4e4cd0;
    --orange-color: #ff8a00;
    --pink-color: #ff284b;
    --purple-color: #a648d9;
    --red-color: #ff342a;
    --teal-color: #50c1f9;
    --yellow-color: #ffc500;
    --brown-color: #987953;
    --gray-color: #838388;
}
@media (prefers-color-scheme: dark) {
    :root {
        --link-color: #dc5f00;
        --link-color-visited: #FB9652;
        --link-color-hover: #f05138;
        --link-color-active: #E64918;

        --text-color: #c9c9c9;
        --text-color-1: #f0f0f0;
        --text-color-2: #C9B8A5;
        --text-color-3: #ccc;

        --background-color: #000;
        --background-color-1: #1a1a1a;
        --background-color-2: #262626;
        --background-color-3: #333333;
        --background-color-4: #606060;

        --primary-text-color: #F9E1C6;
        --primary-background-color: #061E38;
        
        --white-color: #ffffff;
        --black-color: #000000;
        --blue-color: #0d79ff;
        --green-color: #2acb4e;
        --indigo-color: #5352e2;
        --orange-color: #ff950d;
        --pink-color: #ff3054;
        --purple-color: #b750f0;
        --red-color: #ff3c33;
        --teal-color: #59ccff;
        --yellow-color: #ffd00d;
        --brown-color: #a2835d;
        --gray-color: #8d8d92;
    }
}
