--swiftversion 6

--indent 4
    --indentstrings true
    --smarttabs true
    --xcodeindentation enabled

--maxwidth 80
--trimwhitespace always
--self init-only
--elseposition next-line
--guardelse next-line
--ranges nospace

--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--wrapconditions before-first


--enable trailingclosures
--enable todos
--enable preferKeyPath

--enable organizeDeclarations
    --organizationmode type
    --visibilityorder private, fileprivate, internal, package, public, open
    --categorymark "MARK: - %c"
    --markcategories false

--enable wrapAttributes
    --funcattributes prev-line
    --typeattributes prev-line
    --storedvarattrs prev-line
    --computedvarattrs prev-line
    --complexattrs prev-line

--enable trailingCommas
    --commas always

--disable wrapSingleLineComments

--enable yodaConditions

--enable acronyms
    --acronyms "ID,URL,UUID,HTTP,YML,YAML,JSON,XML"
    --preserveacronyms "rootUrl"

