
{{<index}}
{{$main}}
<div id="docs">
    <div class="left">
        {{> docs.blocks.categories }}
    </div>
    <div class="center">
        <article>
            {{& page.content}}

            {{#empty(page.context.categories)}}
            Empty.
            {{/empty(page.context.categories)}}
            {{^empty(page.context.categories)}}
            <ul>
            {{#page.context.guides}}
                <li>
                    <a href="{{permalink}}">{{title}}</a>
                </li>
            {{/page.context.guides}}
            </ul>
            {{/empty(page.context.categories)}}

        </article>
    </div>
    <div class="right">
        {{> blocks.toc }}
    </div>
</div>
{{/main}}
{{/index}}
