{{<index}}

{{$main}}
    
<div id="blog" class="wrapper">
    <header>
        <h1>{{page.metadata.title}}</h1>
        <p>{{page.metadata.description}}</p>
    </header>
    
    

    {{#empty(page.context.posts)}}
    Empty.
    {{/empty(page.context.posts)}}
    {{^empty(page.context.posts)}}
    <div class="grid-321">
    {{#page.context.posts}}
        {{> blog.blocks.post}}
    {{/page.context.posts}}
    </div>
    {{/empty(page.context.posts)}}
    
    {{#empty(page.context.pagination)}}
    {{/empty(page.context.pagination)}}
    {{^empty(page.context.pagination)}}
    <div class="pagination">
    {{#page.context.pagination}}
        {{> blocks.pagination}}
    {{/page.context.pagination}}
    </div>
    {{/empty(page.context.pagination)}}

</div>
{{/main}}

{{/index}}
