{{<html}}
{{$main}}

{{& page.contents}}

<div id="authors" class="wrapper">

    {{#empty(page.authors)}}
    Empty.
    {{/empty(page.authors)}}
    {{^empty(page.authors)}}
    <div class="grid grid-421">
    {{#page.authors}}
        {{> blog.blocks.author}}
    {{/page.authors}}
    </div>
    {{/empty(page.authors)}}
    
</div>

{{/main}}
{{/html}}
