{{<index}}
{{$main}}

<div id="tag">
    {{#page.context.tag}}
    <header>
        {{#imageUrl}}<img class="medium" src="{{imageUrl}}" alt="{{title}}">{{/imageUrl}}
        <h1>{{title}}</h1>
        <hr>
        <p>{{description}}</p>
        <p>{{numberOfPosts}} posts</p>
    </header>
    {{/page.context.tag}}


    {{& page.content}}
    
    {{#empty(page.context.posts)}}
    Empty.
    {{/empty(page.context.posts)}}
    {{^empty(page.context.posts)}}
    <div class="grid grid-321">
    {{#page.context.posts}}
        {{> blog.blocks.post}}
    {{/page.context.posts}}
    </div>
    {{/empty(page.context.posts)}}
</div>

{{/main}}
{{/index}}
