{{<index}}
{{$main}}

{{& page.content}}


<h2>Categories</h2>

{{#empty(page.context.categories)}}
Empty.
{{/empty(page.context.categories)}}
{{^empty(page.context.categories)}}
<div class="grid-221">
<ul>
{{#page.context.categories}}
    <li><a href="{{permalink}}">{{title}}</a></li>
{{/page.context.categories}}
</ul>
</div>
{{/empty(page.context.categories)}}


{{/main}}
{{/index}}
