<!DOCTYPE html>
<html {{#site.language}}lang="{{.}}"{{/site.language}}>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{page.title}} - {{site.title}}</title>
    <meta name="description" content="{{page.description}}">
    
    <meta property="og:url" content="{{page.permalink}}">
    <meta property="og:title" content="{{page.title}} - {{site.title}}">
    <meta property="og:description" content="{{page.description}}">
    {{#page.imageUrl}}
    <meta property="og:image" content="{{.}}" />
    {{/page.imageUrl}}

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{page.title}} - {{site.title}}">
    <meta name="twitter:description" content="{{page.description}}">
    {{#page.imageUrl}}
    <meta name="twitter:image" content="{{.}}">
    {{/page.imageUrl}}
    
    <link rel="stylesheet" href="{{site.baseUrl}}css/global.css">
    <link rel="stylesheet" href="{{site.baseUrl}}css/style.css">
    <link rel="stylesheet" href="{{site.baseUrl}}css/syntax.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/http.min.js"></script>
    <script>hljs.highlightAll();</script>

    {{> blocks.icons}}

</head>

<body>
    {{> blocks.navigation}}
        
    <main>
    {{$main}}
        <p>No content.</p>
    {{/main}}
    </main>

    {{> blocks.footer}}
</body>
</html>
