
#authors img, #tags img, .profile-picture img, .meta img {
    width: 128px;
    border-radius: 50%;
}

footer img {
    width: 44px;
}



.grid-421 a {
    text-align: center;
    padding: 32px 0px;
}
.grid-421 a:hover {
    background: var(--bg-color);
    border-radius: 16px;
    
}

.card {
    padding: 16px;
    margin-bottom: 32px;
}
.mini {
    display: inline-block;
}
.mini img {
    width: 32px;
    border-radius: 50%;
}









h2 {
    margin-top: 0;
}

.content-with-sidebars {
    display: grid;
    grid-template-columns: 1fr;
}
.content-with-sidebars .left, .content-with-sidebars .right {
    display: none;
}

.content-with-sidebars .left {
/*    background: red;*/
}
.content-with-sidebars .center {
/*    background: #fff;*/
}
.content-with-sidebars .right {
/*    background: blue;*/
}

@media screen and (min-width: 600px) {
    
}
@media screen and (min-width: 900px) {
    .content-with-sidebars {
        display: grid;
        grid-template-columns: 1fr minmax(600px, 2fr) 1fr;
    }
    .content-with-sidebars .left, .content-with-sidebars .right {
        display: block;
    }
}
@media screen and (min-width: 1200px) {
    
}
@media screen and (min-width: 1500px) {
}
@media screen and (min-width: 1800px) {
}
