{{<html}}
{{$main}}

{{& page.contents}}

<div id="home" class="wrapper">
    <h2>Pages</h2>
    {{#empty(page.pages)}}
    Empty.
    {{/empty(page.pages)}}
    {{^empty(page.pages)}}
    <ul>
    {{#page.pages}}
    <li>
        <a href="{{permalink}}">{{title}}</a>
    </li>
    {{/page.pages}}
    </ul>
    {{/empty(page.pages)}}
</div>
{{/main}}
{{/html}}

