<div class="card">
    <a href="{{permalink}}">
        <center>
        {{#imageUrl}}<img class="large rounded" src="{{imageUrl}}" alt="{{title}}">{{/imageUrl}}
        <br><br>
        <h2>{{title}}</h2>
        <p>{{numberOfPosts}} posts</p>
        </center>
    </a>
</div>
