{{<html}}
{{$main}}

{{& page.contents}}

<div id="authors" class="wrapper">

    {{#empty(site.context.authors)}}
    Empty.
    {{/empty(site.context.authors)}}
    {{^empty(site.context.authors)}}
    <div class="grid grid-221">
    {{#site.context.authors}}
        {{> blog.blocks.author}}
    {{/site.context.authors}}
    </div>
    {{/empty(site.context.authors)}}
    
</div>

{{/main}}
{{/html}}
