{{<html}}
{{$main}}

<div class="article-with-toc">
    <div>
        <article class="post">
            <div class="meta">
                <time datetime="{{page.publication.html}}">{{page.publication.html}}</time>
                {{#page.readingTime}} &middot; <span class="reading-time">{{page.readingTime}} min read</span>{{/page.readingTime}}
                {{#page.featured}} &middot; <span class="featured">featured</span>{{/page.featured}}
            </div>
            <h1>{{page.title}}</h1>
            <hr>
            <p>{{page.description}}</p>
            <section>
            
            {{& page.contents}}
                
            </section>

            <footer>
                <br>
                <time datetime="{{page.date}}">{{page.date}}</time>

                
                <div class="author-list">
                {{#page.authors}}
                    <a href="{{permalink}}">
                    {{#imageUrl}}<img class="small rounded" src="{{imageUrl}}" alt="{{title}}">{{/imageUrl}}
                    </a>
                {{/page.authors}}
                </div>
                <div class="tag-list">
                {{#page.tags}}
                    <a href="{{permalink}}"><small>{{title}}</small></a>
                {{/page.tags}}
                </div>
                
                <p>
                    <a href="https://x.com/intent/tweet?via=tiborbodecs&amp;hashtags=SwiftLang&amp;url={{page.permalink}}" target="_blank">
                        <strong>Share this article</strong>
                    </a>
                    <br>Thank you. 🙏
                </p>
            </footer>
                        
            <section class="group">
                {{#empty(page.related)}}
                {{/empty(page.related)}}
                {{^empty(page.related)}}
                <h4>Related posts</h4>                
                <div class="grid grid-221">
                {{#page.related}}
                    {{> blog.blocks.post}}
                {{/page.related}}
                </div>
                {{/empty(page.related)}}
            </section>

        </article>
    </div>
    
    <div>
        <div class="book">
            <a href="https://theswiftdev.gumroad.com/l/practical-server-side-swift" target="_blank">
                <img src="{{site.baseUrl}}book/practical-server-side-swift-cover.png" alt="Practical Server Side Swift cover image">
            </a>
            <h3>
                <a href="https://theswiftdev.gumroad.com/l/practical-server-side-swift" target="_blank">Get the Practical Server Side Swift book</a>
            </h3>
            <p>Swift on the server is an amazing new opportunity to build fast, safe and scalable backend apps. Write your very first web-based application by using your favorite programming language. Learn how to build a modular blog engine using the latest version of the Vapor 4 framework. This book will help you to design and create modern APIs that'll allow you to share code between the server side and iOS. Start becoming a full-stack Swift developer.</p>
            <a class="cta" href="https://theswiftdev.gumroad.com/l/practical-server-side-swift" target="_blank">Available on Gumroad</a>
        </div>
        
        {{> blocks.toc }}

    </div>
</div>

{{/main}}
{{/html}}
