{{<html}}
{{$main}}
<article class="post">
    
    <header>
        {{#page.imageUrl}}<img src="{{page.imageUrl}}" alt="{{page.title}}">{{/page.imageUrl}}
        <br><br>
        <time datetime="{{page.date}}">{{page.date}}</time>
        <h1>{{page.title}}</h1>
        <hr>
        <p class="excerpt">{{page.description}}</p>
        
        <div class="author-list">
        {{#page.authors}}
            <a href="{{permalink}}">
            {{#imageUrl}}<img class="small rounded" src="{{imageUrl}}" alt="{{title}}">{{/imageUrl}}
            <span class="name">{{title}}</span>
            </a>
        {{/page.authors}}
        </div>
        <div class="tag-list">
        {{#page.tags}}
            <a href="{{permalink}}"><small>{{title}}</small></a>{{^last()}}<small>, </small>{{/last()}}
        {{/page.tags}}
        </div>
    </header>
    

    <section>
    
    {{& page.contents}}
        
    </section>
    
    <section>
    <div class="grid grid-221">
    {{^page.prev}}
    <div></div>
    {{/page.prev}}
    {{#page.prev}}
    <div>
        <h4>&larr; Prev post</h4>
        <hr class="spacer">
        {{> blog.blocks.post}}
    </div>
    {{/page.prev}}
    
    {{^page.next}}
    <div></div>
    {{/page.next}}
    {{#page.next}}
    <div>
        <h4 style="text-align: right;">Next post &rarr;</h4>
        <hr class="spacer">
        {{> blog.blocks.post}}
    </div>
    {{/page.next}}
    </div>
    </section>
    
    <section>
    {{#empty(page.related)}}
    {{/empty(page.related)}}
    {{^empty(page.related)}}
    <h4>Related posts</h4>
    <hr class="spacer">
    <div class="grid grid-221">
    {{#page.related}}
        {{> blog.blocks.post}}
    {{/page.related}}
    </div>
    {{/empty(page.related)}}
    </section>
    
    
    {{#empty(page.moreByAuthors)}}
    {{/empty(page.moreByAuthors)}}
    {{^empty(page.moreByAuthors)}}
    <h4>More posts by the author(s)</h4>
    <hr class="spacer">
    <div class="grid grid-221">
    {{#page.moreByAuthors}}
        {{> blog.blocks.post}}
    {{/page.moreByAuthors}}
    </div>
    {{/empty(page.moreByAuthors)}}

</article>

<div class="fixed-toc">
{{> blocks.toc }}
</div>

{{/main}}
{{/html}}
