{{<html}}
{{$main}}
<div id="author-page" class="wrapper">
    
    <header>
        <div class="profile-picture">{{#page.imageUrl}}<img class="large rounded" src="{{page.imageUrl}}" alt="{{page.title}}">{{/page.imageUrl}}</div>
        <h1>{{page.title}}</h1>
        <hr>
        <p>{{page.description}}</p>
        <p>{{count(page.posts)}} posts</p>
    </header>

    {{& page.contents}}
    
    {{#empty(page.posts)}}
    
    {{/empty(page.posts)}}
    {{^empty(page.posts)}}
    <div class="grid grid-321">
    {{#page.posts}}
        
        {{> blog.blocks.post}}
    {{/page.posts}}
    </div>
    {{/empty(page.posts)}}
    
</div>

{{/main}}
{{/html}}
