{{<html}}
{{$main}}

<div id="author-page" class="content wrapper">
    {{#page.context.author}}
    <header>
        {{#imageUrl}}<img class="large rounded" src="{{imageUrl}}" alt="{{title}}">{{/imageUrl}}
        <br><br>
        <h1>{{title}}</h1>
        <hr>
        <p>{{description}}</p>
        <p>{{numberOfPosts}} posts</p>
    </header>
    {{/page.context.author}}
    
    {{& context.contents}}

    {{#empty(page.context.posts)}}
    Empty.
    {{/empty(page.context.posts)}}
    {{^empty(page.context.posts)}}
    <div class="grid grid-321">
    {{#page.context.posts}}
        {{> blog.blocks.post}}
    {{/page.context.posts}}
    </div>
    {{/empty(page.context.posts)}}
    
</div>

{{/main}}
{{/html}}
