{{<html}}
{{$main}}
<div class="wrapper">
<div class="article-with-toc">
    <div>
        <article>
            <header>

                <div class="meta">
                    <time datetime="{{page.publication.html}}">{{page.publication.html}}</time>
                    {{#page.readingTime}} &middot; <span class="reading-time">{{page.readingTime}} min read</span>{{/page.readingTime}}
                </div>
                
                <h1>{{page.title}}</h1>
                <p>{{page.description}}</p>
            </header>

            <section>
                {{& page.contents}}
            </section>
            
            
        </article>
    </div>
    <div>
        <aside>
        {{#page.featured}}
        <span class="featured">featured</span>
        {{/page.featured}}

        <div class="author-list">
            {{#page.authors}}
                <a href="{{permalink}}">
                {{#imageUrl}}<img class="large rounded" src="{{imageUrl}}" alt="{{title}}">{{/imageUrl}}
                </a>
            {{/page.authors}}
        </div>
        <div class="tag-list">
            {{#page.tags}}
                <a href="{{permalink}}"><small>{{title}}</small></a>
            {{/page.tags}}
        </div>
        {{> blocks.toc}}
        </aside>
    </div>
</div>
</div>

<section class="primary">
    <div class="wrapper">
        {{#empty(page.related)}}
        {{/empty(page.related)}}
        {{^empty(page.related)}}
        <h2>Related posts</h2>
        <hr>
        <div class="grid grid-221">
            {{#page.related}}
                {{> blog.blocks.post}}
            {{/page.related}}
        </div>
        {{/empty(page.related)}}
    </div>
</section>

{{/main}}
{{/html}}
