{{<html}}
{{$main}}

<article class="post">
    {{#page.post}}
    <header>
        {{#imageUrl}}<img src="{{imageUrl}}" alt="{{title}}">{{/imageUrl}}
        <br><br>
        <time datetime="{{date}}">{{date}}</time>
        <h1>{{title}}</h1>
        <hr>
        <p class="excerpt">{{description}}</p>
        
        <div class="author-list">
        {{#authors}}
            <a href="{{permalink}}">
            {{#imageUrl}}<img class="small rounded" src="{{imageUrl}}" alt="{{title}}">{{/imageUrl}}
            </a>
        {{/authors}}
        </div>
        <div class="tag-list">
        {{#tags}}
            <a href="{{permalink}}"><small>{{title}}</small></a>{{^last()}}<small>, </small>{{/last()}}
        {{/tags}}
        </div>
    </header>
    {{/page.post}}

    <section>
    
    {{& page.contents}}
        
    </section>
    
    <section>
    <div class="grid grid-221">
    {{^page.prev}}
    <div></div>
    {{/page.prev}}
    {{#page.prev}}
    <div>
        <h4>&larr; Prev post</h4>
        <hr class="spacer">
        {{> blog.blocks.post}}
    </div>
    {{/page.prev}}
    
    {{^page.next}}
    <div></div>
    {{/page.next}}
    {{#page.next}}
    <div>
        <h4 style="text-align: right;">Next post &rarr;</h4>
        <hr class="spacer">
        {{> blog.blocks.post}}
    </div>
    {{/page.next}}
    </div>
    </section>
    
    <section>
    {{#empty(page.related)}}
    {{/empty(page.related)}}
    {{^empty(page.related)}}
    <h4>Related posts</h4>
    <hr class="spacer">
    <div class="grid grid-221">
    {{#page.related}}
        {{> blog.blocks.post}}
    {{/page.related}}
    </div>
    {{/empty(page.related)}}
    </section>
    
    
    {{#empty(page.moreByAuthor)}}
    {{/empty(page.moreByAuthor)}}
    {{^empty(page.moreByAuthor)}}
    <h4>More posts by the author(s)</h4>
    <hr class="spacer">
    <div class="grid grid-221">
    {{#page.moreByAuthor}}
        {{> blog.blocks.post}}
    {{/page.moreByAuthor}}
    </div>
    {{/empty(page.moreByAuthor)}}

</article>

<div class="fixed-toc">
{{> blocks.toc }}
</div>

{{/main}}
{{/html}}
