{{<html}}
{{$main}}

{{& content}}

<div id="posts" class="wrapper">

    {{#empty(context.posts)}}
    Empty.
    {{/empty(context.posts)}}
    {{^empty(context.posts)}}
    <div class="grid grid-321">
    {{#context.posts}}
        {{> blog.blocks.post}}
    {{/context.posts}}
    </div>
    {{/empty(context.posts)}}
    
    {{#empty(context.pagination)}}
    {{/empty(context.pagination)}}
    {{^empty(context.pagination)}}
    
    <div class="pagination">
    {{#context.pagination}}
        {{> blocks.pagination}}
    {{/context.pagination}}
    </div>
    {{/empty(context.pagination)}}

</div>

{{/main}}
{{/html}}
