{{<html}}
{{$main}}
    
<div id="blog" class="wrapper">
    <header>
        <h1>{{page.title}}</h1>
        <p>{{page.description}}</p>
    </header>
    
    

    {{#empty(page.posts)}}
    Empty.
    {{/empty(page.posts)}}
    {{^empty(page.posts)}}
    <div class="grid">
    {{#page.posts}}
        {{> blog.blocks.post}}
    {{/page.posts}}
    </div>
    {{/empty(page.posts)}}
    
    {{#empty(page.pagination)}}
    {{/empty(page.pagination)}}
    {{^empty(page.pagination)}}
    <div class="pagination">
    {{#page.pagination}}
        {{> blocks.pagination}}
    {{/page.pagination}}
    </div>
    {{/empty(page.pagination)}}

</div>
{{/main}}
{{/html}}
