{{<html}}
{{$main}}
<div id="home" class="wrapper">
    <header>
        <h1>{{page.title}}</h1>
        <p>{{page.description}}</p>
        <br>
        <a href="{{userDefined.ctaUrl}}">{{userDefined.ctaLabel}}</a>
    </header>
    
    <h2>Pages</h2>
    {{#empty(page.pages)}}
    Empty.
    {{/empty(page.pages)}}
    {{^empty(page.pages)}}
    <ul>
    {{#page.pages}}
    <li>
        <a href="{{permalink}}">{{title}}</a>
    </li>
    {{/page.pages}}
    </ul>
    {{/empty(page.pages)}}
    
    <h2>Featured</h2>
    {{#empty(page.featured)}}
    Empty.
    {{/empty(page.featured)}}
    {{^empty(page.featured)}}
    {{#page.featured}}
        {{> blog.blocks.post}}
    {{/page.featured}}
    {{/empty(page.featured)}}
    
    
    <h2>Latest posts</h2>
    {{#empty(page.posts)}}
    Empty.
    {{/empty(page.posts)}}
    {{^empty(page.posts)}}
    {{#page.posts}}
        {{> blog.blocks.post}}
    {{/page.posts}}
    {{/empty(page.posts)}}
    
    <h2>Authors</h2>
    {{#empty(page.authors)}}
    Empty.
    {{/empty(page.authors)}}
    {{^empty(page.authors)}}
    {{#page.authors}}
        {{> blog.blocks.author}}
    {{/page.authors}}
    {{/empty(page.authors)}}
    
    <h2>Tags</h2>
    {{#empty(page.tags)}}
    Empty.
    {{/empty(page.tags)}}
    {{^empty(page.tags)}}
    {{#page.tags}}
        {{> blog.blocks.tag}}
    {{/page.tags}}
    {{/empty(page.tags)}}


</div>
{{/main}}
{{/html}}
