{{<html}}
{{$main}}

<div id="author-page" class="content wrapper">
    {{#page.context.author}}
    <header>
        <div class="profile-picture">
            {{#imageUrl}}<img src="{{imageUrl}}" alt="{{title}}">{{/imageUrl}}
        </div>
        <h1>{{title}}</h1>
        <p>{{description}}</p>
        <p>Posts: {{numberOfPosts}}</p>    
    </header>
    {{/page.context.author}}
    
    {{& context.contents}}

    {{#empty(page.context.posts)}}
    Empty.
    {{/empty(page.context.posts)}}
    {{^empty(page.context.posts)}}
    <div class="grid">
    {{#page.context.posts}}
        {{> blog.blocks.post}}
    {{/page.context.posts}}
    </div>
    {{/empty(page.context.posts)}}
    
</div>

{{/main}}
{{/html}}
