{{<html}}
{{$main}}

<section class="primary">
    <div class="wrapper">
        <header>
            <h1>Consulting</h1>
            <p>We provide a range of consultancy services to clients.<br></p>
            <a class="button" href="mailto:info@binarybirds.com">Get in touch</a>
        </header>
    </div>
</section>
      
<section>
    <div class="wrapper">
        <header>
            <h2>Training</h2>
            
            <p>We specialize in crafting robust server-side solutions using Swift,<br>empowering businesses with efficient backend systems.</p>
        </header>
        <div class="grid grid-221">
            <i class="devicon-devicon-plain" style="font-size: 300px; text-align: center; color: var(--link-color);"></i>
            <p>
                Lorem ipsum
            </p>
        </div>
    </div>
</section>

<section class="primary">
    <div class="wrapper">
        <header>
            <h2>Education</h2>
            <p>We specialize in crafting robust server-side solutions using Swift,<br>empowering businesses with efficient backend systems.</p>
        </header>
        <div class="grid grid-221">
            <i class="devicon-handlebars-plain" style="font-size: 300px; text-align: center; color: var(--link-color);"></i>
            <p>
            Lorem ipsum
            </p>
        </div>
    </div>
</section>


<section>
    <div class="wrapper">
        <header>
            <h2>Open source</h2>
            <p>We specialize in crafting robust server-side solutions using Swift,<br>empowering businesses with efficient backend systems.</p>
        </header>
        <div class="grid grid-221">
            <i class="devicon-github-plain" style="font-size: 300px; text-align: center; color: var(--link-color);"></i>
            <p>
            Lorem ipsum
            </p>
        </div>
    </div>
</section>


{{/main}}
{{/html}}
