{{<html}}
{{$main}}

<section class="primary">
    <div class="wrapper">
        <header>
            <h1>Contact us</h1>
            <p>Server-side swift solutions from experts.<br />Secure, efficient, scalable solutions.</p>
            <a class="button" href="mailto:info@binarybirds.com">Get in touch</a>
        </header>
    </div>
</section>
      
<section>
    <div class="wrapper">
        <header>
            <h2>Lorem ipsum</h2>
            <p>We specialize in crafting robust server-side solutions using Swift,<br>empowering businesses with efficient backend systems.</p>
        </header>
        <div class="grid grid-221">
            <i class="devicon-swift-plain" style="font-size: 300px; text-align: center; color: var(--link-color);"></i>
            <p>
                
            </p>
        </div>
    </div>
</section>

{{/main}}
{{/html}}
