{{<html}}
{{$main}}

<section class="primary">
    <div class="wrapper">
        <header>
            <h1>Development</h1>
            <p>We create high quality backend services and native apps.<br />Android, iOS, macOS, tvOS, iPadOS, watchOS and visionOS.</p>
            <a class="button" href="mailto:info@binarybirds.com">Get in touch</a>
        </header>
    </div>
</section>
      
<section>
    <div class="wrapper">
        <header>
            <h2>Backend services</h2>
            <p>We specialize in crafting robust server-side solutions using Swift,<br>empowering businesses with efficient backend systems.</p>
        </header>
        <div class="grid grid-221">
            <i class="devicon-git-plain" style="font-size: 300px; text-align: center; color: var(--link-color);"></i>


            <p>
                Our backend expertise is centered on server-side Swift, harnessing the power and flexibility of the Swift Server Work Group (SSWG). We provide robust backend solutions designed to be secure, efficient, and scalable. Whether you require complex API integrations, real-time data processing, or high-performance server architectures, our team leverages Swift’s modern capabilities to deliver top-tier results that meet your specific needs.
            </p>
        </div>
    </div>
</section>

<section class="primary">
    <div class="wrapper">
        <header>
            <h2>Native apps</h2>
            <p>We specialize in crafting robust server-side solutions using Swift,<br>empowering businesses with efficient backend systems.</p>
        </header>
        <div class="grid grid-221">
            <i class="devicon-xcode-plain" style="font-size: 300px; text-align: center; color: var(--link-color);"></i>
            <p>
            We excel in developing applications across the full spectrum of Apple platforms, including iOS, iPadOS, macOS, tvOS, watchOS, and the innovative visionOS. Our deep knowledge of both UIKit and SwiftUI enables us to create seamless, intuitive, and high-performance applications. Whether you need a sleek iPhone app, a comprehensive desktop application, or an engaging TV interface, our solutions are tailored to provide a superior user experience on each device.
            </p>
        </div>
    </div>
</section>

<section>
    <div class="wrapper">
        <header>
            <h2>Web development</h2>
            <p>We specialize in crafting robust server-side solutions using Swift,<br>empowering businesses with efficient backend systems.</p>
        </header>
        <div class="grid grid-221">
            <i class="devicon-react-plain" style="font-size: 300px; text-align: center; color: var(--link-color);"></i>
            <p>
            In the realm of web development, we offer comprehensive services that cater to a variety of needs, from administrative and content management systems (CMS) to sophisticated web applications. Our technology stack includes React, Next.js, and TypeScript, which we use to build dynamic, responsive, and user-friendly web interfaces. Whether you’re looking for a powerful admin panel, a flexible CMS, or a cutting-edge user interface, our team delivers web solutions that are both aesthetically pleasing and functionally robust.
            </p>
        </div>
    </div>
</section>

{{/main}}
{{/html}}
