{{<html}}
{{$main}}

{{& page.contents}}

<div id="home" class="wrapper">
      <!--* Hero Section -->

      <header class="heroSection">
        <div class="sectionContainer">
          <div class="heroTitleContainer">
            <h1 class="sectionTitle">
              Server-side swift solutions from experts.<br />
              Secure, efficient, scalable solutions.
            </h1>
            <p class="heroSubtitle">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
              vulputate rhoncus magna, ac aliquam massa venenatis vel. Quisque
              sit amet commodo erat, at eleifend odio.
            </p>
            <button class="primaryButton">
              <a href="mailto:binarybirdsoffical@gmail.com" target="_blank" rel="noopener noreferrer">Get in touch</a>
            </button>
          </div>
        </div>
      </header>

      <!--* Hero Section End -->

      <!--* Services Section -->

      <section class="section sectionSecondary">
        <h1 class="sectionTitle">What we do</h1>
        <p class="sectionSubtitle">
          We specialize in crafting robust server-side solutions using Swift,
          empowering businesses with efficient backend systems.
        </p>
        <div class="grid grid-is-col-min-12 servicesContainer">
          <div class="serviceCard card cell">
            <div class="serviceTitle">
              <svg
                stroke="currentColor"
                fill="none"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                aria-hidden="true"
                class="serviceIcon"
                height="1em"
                width="1em"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125"
                ></path>
              </svg>
              <h3>Backend Development</h3>
            </div>
            <p>
              Explore our expertise in server-side Swift, frameworks, and
              open-source solutions for robust backend development.
            </p>
          </div>
          <div class="serviceCard card cell">
            <div class="serviceTitle">
              <svg
                stroke="currentColor"
                fill="none"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                aria-hidden="true"
                class="serviceIcon"
                height="1em"
                width="1em"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M10.5 1.5H8.25A2.25 2.25 0 006 3.75v16.5a2.25 2.25 0 002.25 2.25h7.5A2.25 2.25 0 0018 20.25V3.75a2.25 2.25 0 00-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3"
                ></path>
              </svg>
              <h3>Mobile App Development</h3>
            </div>
            <p>
              Discover our proficiency in crafting iOS and Android applications,
              ensuring seamless performance and user experience.
            </p>
          </div>
          <div class="serviceCard card cell">
            <div class="serviceTitle">
              <svg
                stroke="currentColor"
                fill="none"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                aria-hidden="true"
                class="serviceIcon"
                height="1em"
                width="1em"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418"
                ></path>
              </svg>
              <h3>Web Development</h3>
            </div>
            <p>
              Unlock the power of web development with our skills in React,
              Node.js, and Next.js, delivering modern and scalable web
              solutions.
            </p>
          </div>
          <div class="serviceCard card cell">
            <div class="serviceTitle">
              <svg
                stroke="currentColor"
                fill="none"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                aria-hidden="true"
                class="serviceIcon"
                height="1em"
                width="1em"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 01-.825-.242m9.345-8.334a2.126 2.126 0 00-.476-.095 48.64 48.64 0 00-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0011.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155"
                ></path>
              </svg>
              <h3>Consulting</h3>
            </div>
            <p>
              Leverage our consultancy services to receive expert guidance and
              tailored solutions for your development projects.
            </p>
          </div>
          <div class="serviceCard card cell">
            <div class="serviceTitle">
              <svg
                stroke="currentColor"
                fill="none"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                aria-hidden="true"
                class="serviceIcon"
                height="1em"
                width="1em"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5"
                ></path>
              </svg>
              <h3>Training</h3>
            </div>
            <p>
              Elevate your team's skills with our corporate training programs,
              designed to enhance proficiency in various development areas.
            </p>
          </div>
          <div class="serviceCard card cell">
            <div class="serviceTitle">
              <svg
                stroke="currentColor"
                fill="none"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                aria-hidden="true"
                class="serviceIcon"
                height="1em"
                width="1em"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25"
                ></path>
              </svg>
              <h3>Education</h3>
            </div>
            <p>
              Access a wealth of knowledge through our collection of books,
              open-source tools, solutions, and publications, empowering
              continuous learning and growth.
            </p>
          </div>
        </div>
      </section>

      <!--* Services Section End -->

      <!--* Book Section -->

      <section class="section sectionPrimary">
            <h1 class="sectionTitle">What you can learn</h1>
        <div class="bookContainer">
          <div class="bookImageContainer">
            <picture>
              <img
                class="bookImage"
                alt="book"
                fetchPriority="high"
                width="317"
                height="490"
                decoding="async"
                style="color: transparent"
                src="{{site.baseUrl}}images/defaults/PSSScover.png"
              />
            </picture>
          </div>
          <div class="bookContent">
            <h2 class="bookTitle">Practical Server-Side Swift</h2>
            <p class="bookSubtitle">
              Swift on the server is an amazing new opportunity to build fast,
              safe and scalable backend apps. Write your very first web-based
              application by using your favorite programming language. Learn how
              to build a modular blog engine using the latest version of the
              Vapor 4 framework. This book will help you to design and create
              modern APIs that'll allow you to share code between the server
              side and iOS. Start becoming a full-stack Swift developer.
            </p>
            <button class="primaryButton">
              <a
                href="https://theswiftdev.gumroad.com/l/practical-server-side-swift"
                target="_blank"
                rel="noopener"
                >Read Now</a
              >
            </button>
          </div>
        </div>
      </section>

      <!--* Book Section End -->

      <!--* Team Section -->

      <section class="section sectionSecondary">
        <h1 class="sectionTitle">Who we are</h1>
        <p class="sectionSubtitle">
          Our team of experts is dedicated to delivering high-quality solutions
          and services to our clients.
        </p>
        <div class="teamContainer">
          {{#page.authors}}
          {{> _partials.member}}
          {{/page.authors}}
        </div>
      </section>

      <!--* Team Section End -->

      <!--* Partners Section -->

      <section class="section sectionPrimary">
        <h1 class="sectionTitle">Who we work with</h1>
        <p class="sectionSubtitle">
          We are proud to work with the following companies and organizations.
        </p>
      </section>

      <!--* Partners Section End-->
      
      <!--* Reviews Section -->
      
      <section class="section sectionSecondary">
        <h1 class="sectionTitle">What our clients say</h1>
        <p class="sectionSubtitle">
          Explore what our clients have to say about their experiences with us.
        </p>
      </section>

</div>


{{/main}}
{{/html}}
