{{<index}}
{{$main}}

{{& page.content}}

<div id="authors" class="wrapper">

    {{#empty(page.context.authors)}}
    Empty.
    {{/empty(page.context.authors)}}
    {{^empty(page.context.authors)}}
    <div class="grid-421">
    {{#page.context.authors}}
        {{> blog.blocks.author}}
    {{/page.context.authors}}
    </div>
    {{/empty(page.context.authors)}}
    
</div>

{{/main}}
{{/index}}
