{{<html}}
{{$main}}
<div id="docs">
    <div class="left">
        {{> docs.blocks.categories }}
    </div>
    <div class="center">
        <article>
            <a href="/docs/">Docs</a>
            {{& context.contents}}
        
            <h2>Guides</h2>
            {{#page.context.category.guides}}
                <li>
                    <a href="{{permalink}}">{{title}}</a>
                </li>
            {{/page.context.category.guides}}

        </article>
    </div>
    <div class="right">
        {{> blocks.toc }}
    </div>
</div>
{{/main}}
{{/html}}
