{{<html}}
{{$main}}
<div id="docs">
    <div class="left">
        {{> docs.blocks.categories }}
    </div>
    <div class="center">
        <article>
            {{#page.context.guide.category}}
            <a href="{{permalink}}">{{title}}</a>
            {{/page.context.guide.category}}
            {{& page.content}}

        
            <section>
            <div class="grid grid-2">
            {{^page.context.guide.prev}}
            <div></div>
            {{/page.context.guide.prev}}
            {{#page.context.guide.prev}}
            <div class="prev">
                <h4>&larr; Prev guide</h4>
                <small>{{category.title}}</small>
                <a href="{{permalink}}">{{title}}</a>
            </div>
            {{/page.context.guide.prev}}
                
            {{^page.context.guide.next}}
            <div></div>
            {{/page.context.guide.next}}
            {{#page.context.guide.next}}
            <div class="next">
                <h4 style="text-align: right;">Next guide &rarr;</h4>
                <small>{{category.title}}</small>
                <a href="{{permalink}}">{{title}}</a>
            </div>
            {{/page.context.guide.next}}
            </div>
            </section>

        </article>
    </div>
    <div class="right">
        {{> blocks.toc }}
    </div>
</div>
{{/main}}
{{/html}}
