{{<html}}
{{$main}}
<div id="author-page">
    
    <header>
        {{#page.imageUrl}}<img class="large rounded" src="{{page.imageUrl}}" alt="{{page.title}}">{{/page.imageUrl}}
        <h1>{{page.title}}</h1>
        <a href="{{userDefined.companyUrl}}">{{userDefined.companyName}}</a>
        {{& page.contents}}
        <a class="cta" href="{{userDefined.ctaUrl}}">{{userDefined.ctaLabel}}</a>
    </header>
    
    <p><br>{{count(page.posts)}} posts</p>
    
    {{#empty(page.posts)}}
    Empty.
    {{/empty(page.posts)}}
    {{^empty(page.posts)}}
    <div class="grid grid-321">
    {{#page.posts}}
        
        {{> blog.blocks.post}}
    {{/page.posts}}
    </div>
    {{/empty(page.posts)}}
    
</div>

{{/main}}
{{/html}}
