{{<html}}
{{$main}}

<div class="article-with-toc">
    <div>
        <article class="post">
            <div class="meta">
                <time datetime="{{page.publication.html}}">{{page.publication.html}}</time>
                {{#page.readingTime}} &middot; <span class="reading-time">{{page.readingTime}} min read</span>{{/page.readingTime}}
                {{#page.featured}} &middot; <span class="featured">featured</span>{{/page.featured}}
            </div>
            <section>
            
            {{& page.contents}}
                
            </section>

            <footer>
                <br>
                <time datetime="{{page.date}}">{{page.date}}</time>

                
                <div class="author-list">
                {{#page.authors}}
                    <a href="{{permalink}}">
                    {{#imageUrl}}<img class="small rounded" src="{{imageUrl}}" alt="{{title}}">{{/imageUrl}}
                    <span class="name">{{title}}</span>
                    </a>
                {{/page.authors}}
                </div>
                <div class="tag-list">
                {{#page.tags}}
                    <a href="{{permalink}}"><small>{{title}}</small></a>{{^last()}}<small>, </small>{{/last()}}
                {{/page.tags}}
                </div>
            </footer>
                        
            <section class="group">
                {{#empty(page.related)}}
                {{/empty(page.related)}}
                {{^empty(page.related)}}
                <h4>Related posts</h4>                
                <div class="grid grid-221">
                {{#page.related}}
                    {{> blog.blocks.post}}
                {{/page.related}}
                </div>
                {{/empty(page.related)}}
            </section>

        </article>
    </div>
    
    <div>
        <div class="support">
            <a href="https://www.serversideswift.info/" target="_blank">
                <img src="{{site.baseUrl}}/images/logos/serversideswift.png" alt="Server-Side Swift Conference logo">
            </a>
            <h4>
                <a href="https://www.serversideswift.info/" target="_blank">ServerSide.swift</a>
            </h4>
            <p>26th-27th September 2024. London, UK</p>
            <p>Discount code: <strong><a href="https://ti.to/serverside-swift/2024/discount/SWIFTONSERVER" target="_blank">SWIFTONSERVER</a></strong></p>
            <a class="cta" href="https://www.serversideswift.info/tickets/" target="_blank">Buy a ticket</a>
        </div>
        
        {{> blocks.toc }}

    </div>
</div>

{{/main}}
{{/html}}
