{{<html}}
{{$main}}

<div id="tag">
    
    <header>
        {{#page.imageUrl}}<img class="medium" src="{{page.imageUrl}}" alt="{{page.title}}">{{/page.imageUrl}}
        <h1>{{page.title}}</h1>
        <p>{{page.description}}</p>
        
    </header>

    {{& page.contents}}
    
    <p>{{count(page.posts)}} posts</p>
    
    {{#empty(page.posts)}}
    Empty.
    {{/empty(page.posts)}}
    {{^empty(page.posts)}}
    <div class="grid grid-321">
    {{#page.posts}}
        {{> blog.blocks.post}}
    {{/page.posts}}
    </div>
    {{/empty(page.posts)}}
</div>

{{/main}}
{{/html}}
