<aside>

    {{#empty(site.context.categories)}}
    Empty.
    {{/empty(site.context.categories)}}
    {{^empty(site.context.categories)}}
    <ul>
    {{#site.context.categories}}
        <li class="category">
            <a href="{{permalink}}">{{title}}</a>
            <ul>
            {{#guides}}
                <li><a href="{{permalink}}">{{title}}</a></li>
            {{/guides}}
            </ul>
        </li>
    {{/site.context.categories}}
    </ul>
    {{/empty(site.context.categories)}}
</aside>
