<div id="footer-container">
    <footer class="wrapper">
        <div class="grid grid-211">
            <div class="branding">
                <picture>
                    <source
                        srcset="{{site.baseUrl}}images/logos/logo~dark.png"
                        media="(prefers-color-scheme: dark)"
                        >
                        <img
                            src="{{site.baseUrl}}images/logos/logo.png"
                            alt="Logo of {{site.title}}"
                            title="{{site.title}}"
                            >
                </picture>
                <h2 class="footerTitle">Binary Birds</h2>
                <p>Server-side swift solutions from experts. </br> Secure, efficient, scalable solutions.</p>
            </div>
            
            <div class="links">
                <div class="external">
                    <a href="https://theswiftdev.com" target="_blank">
                        <img
                        id="footerTSD"
                        src="{{site.baseUrl}}icons/tsdicon.png"
                        alt="The Swift Dev"
                        width="36"
                        height="36"
                        />
                    </a>
                    <a href="https://feathercms.com" target="_blank">
                        <img
                        id="footerFeather"
                        src="{{site.baseUrl}}icons/featherIcon.png"
                        alt="Feather CMS"
                        width="36"
                        height="36"
                        />
                    </a>
                </div>
                <div class="contact">
                    <a href="mailto:binarybirdsoffical@gmail.com">
                        <svg
                            id="envelopeIcon"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            height="24"
                            width="24"
                            stroke="currentColor"
                            >
                            <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
                            />
                        </svg>
                        binarybirdsoffical@gmail.com
                    </a>
                </div>
            </div>
        </div>
        
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/development">Development</a></li>
                <li><a href="/consulting">Consulting</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
    </footer>
</div>
