{{<index}}

{{$main}}
    
<div id="blog" class="content-wrapper">
    <header>
        <h1>{{page.metadata.title}}</h1>
        <p>{{page.metadata.description}}</p>
        <div class="authors"> 
        {{#page.context.authors}}
            <p class="author"><a href="{{userDefined.authorLink}}" target="_blank">{{title}}</a></p>
        {{/page.context.authors}}
        </div>
    </header>
    
    

    {{#empty(page.context.posts)}}
    Empty.
    {{/empty(page.context.posts)}}
    {{^empty(page.context.posts)}}
    <div class="grid-321">
    {{#page.context.posts}}
        {{> _partials.post}}
    {{/page.context.posts}}
    </div>
    {{/empty(page.context.posts)}}
    
    {{#empty(page.context.pagination)}}
    {{/empty(page.context.pagination)}}
    {{^empty(page.context.pagination)}}
    <div class="pagination">
    {{#page.context.pagination}}
        {{> _partials.pagination}}
    {{/page.context.pagination}}
    </div>
    {{/empty(page.context.pagination)}}

</div>
{{/main}}

{{/index}}
