{{<index}}
{{$main}}
<div id="home" class="wrapper">
    <header>
        <h1>{{page.metadata.title}}</h1>
        <p>{{page.metadata.description}}</p>
        <br>
        <a href="{{userDefined.ctaUrl}}">{{userDefined.ctaLabel}}</a>
    </header>
    
    <h2>Pages</h2>
    {{#empty(page.context.pages)}}
    Empty.
    {{/empty(page.context.pages)}}
    {{^empty(page.context.pages)}}
    <ul>
    {{#page.context.pages}}
    <li>
        <a href="{{permalink}}">{{title}}</a>
    </li>
    {{/page.context.pages}}
    </ul>
    {{/empty(page.context.pages)}}
    
    <h2>Featured</h2>
    {{#empty(page.context.featured)}}
    Empty.
    {{/empty(page.context.featured)}}
    {{^empty(page.context.featured)}}
    {{#page.context.featured}}
        {{> blog.blocks.post}}
    {{/page.context.featured}}
    {{/empty(page.context.featured)}}
    
    
    <h2>Latest posts</h2>
    {{#empty(page.context.posts)}}
    Empty.
    {{/empty(page.context.posts)}}
    {{^empty(page.context.posts)}}
    {{#page.context.posts}}
        {{> blog.blocks.post}}
    {{/page.context.posts}}
    {{/empty(page.context.posts)}}
    
    <h2>Authors</h2>
    {{#empty(page.context.authors)}}
    Empty.
    {{/empty(page.context.authors)}}
    {{^empty(page.context.authors)}}
    {{#page.context.authors}}
        {{> blog.blocks.author}}
    {{/page.context.authors}}
    {{/empty(page.context.authors)}}
    
    <h2>Tags</h2>
    {{#empty(page.context.tags)}}
    Empty.
    {{/empty(page.context.tags)}}
    {{^empty(page.context.tags)}}
    {{#page.context.tags}}
        {{> blog.blocks.tag}}
    {{/page.context.tags}}
    {{/empty(page.context.tags)}}


</div>
{{/main}}
{{/index}}
