#navigation {
    overflow: hidden;
    font-weight: 600;
}
#navigation > a {
    display: block;
    line-height: 0;
    padding: 10px 0;
    text-align: center;
}
#navigation > a img {
    height: 44px;
    width: auto;
}
#navigation nav svg {
    width: 24px;
    height: 24px;
}
#navigation #primary-menu-button {
    display: none;
}
#navigation #primary-menu-button + label {
    margin: 0;
    position: absolute;
    top: 10px;
    left: 10px;
    line-height: 0;
    padding: 10px;
}
#navigation #primary-menu-button + label:hover {
    cursor: pointer;
}
#navigation .menu-items {
    max-height: 0px;
    transition: max-height 0.3s ease-in-out 0s;
}
#navigation .menu-items a {
    display: block;
    color: var(--text-color);
    padding: 10px;
    border-top: 0.5px solid var(--bg-color-3);
}
#navigation .menu-items a:hover {
    color: var(--link-color);
}
#navigation input:checked ~ .menu-items {
    max-height: 999px;
}
#navigation line {
    transition: transform 0.3s ease-in-out 0s;
    transform-origin: 50% 50%;
}
#navigation input:checked ~ label line:nth-child(1) {
    transform: translateX(-50px);
}
#navigation input:checked ~ label line:nth-child(2) {
    transform: rotate(45deg) translateY(6px);
}
#navigation input:checked ~ label line:nth-child(3) {
    transform: rotate(-45deg) translateY(-6px);
}
@media screen and (min-width: 600px) {
    #navigation {
        display: grid;
        grid-template-columns: auto 1fr;
    }
    #site-logo {
        grid-column: span 1;
    }
    #navigation nav {
        overflow: hidden;
        grid-column: span 1;
    }
    #primary-menu-button ~ label {
        display: none;
    }
    #navigation nav .menu-items {
        display: block;
        text-align: right;
        padding: 10px;
    }
    #navigation nav .menu-items a {
        
        display: inline-block;
        border: none;
    }
}
