.wrapper {
  max-width: 960px;
  margin: 0 auto;
}
.siteWrapper {
  max-width: 960px;
  margin: 0 auto;
}

.container {
  margin: 16px 0;
  padding: 16px;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--secondary-color-50);
  color: var(--secondary-color-900);
  font-family: 'Genera Grotesk', 'Inter', system-ui, helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

main {
  overflow-x: auto;
  min-height: 50vh;
}

p {
  font-size: 20px;
}

#home > header {
  position: relative;
  background-color: var(--background-color);
  background-image: url('/images/defaults/hero.png');
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 600px;
}
/* #home > header > div {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
} */

button {
  height: 48px;
  border: 1px solid var(--secondary-color-200);
  padding: 10px 30px;
  border-radius: 25px;
  background-color: var(--secondary-color-white);
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
}

button:hover {
  text-decoration: none;
}

button:visited {
  text-decoration: none;
}

button:disabled {
  border-color: var(--secondary-color-200);
  color: var(--secondary-color-700);
  background-color: var(--secondary-color-200);
  cursor: not-allowed;
}

.primaryButton {
  font-weight: bold;
  height: 48px;
  border: 1px solid var(--primary-color-600);
  background-color: var(--primary-color-600);
}

.primaryButton a {
  color: var(--secondary-color-white);
}

.primaryButton:hover {
  background-color: var(--primary-color-500);
  color: var(--secondary-color-white);
}

.primaryButton:disabled {
  border-color: var(--secondary-color-200);
  color: var(--secondary-color-700);
  background-color: var(--secondary-color-200);
}
article section p a,
article section p a:hover,
article section p a:visited {
  color: var(--primary-color-600);
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.card {
  background-color: var(--primary-color-50);
  border: 1px solid var(--primary-color-100);
  border-radius: 18px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  overflow: hidden;
}

.section {
  box-sizing: border-box;
  width: 100%;
  padding: 96px 20px;
}
.innerSection {
  box-sizing: border-box;
  width: 100%;
  padding: 64px 20px;
}

.sectionPrimary {
  background-color: inherit;
}

.sectionSecondary {
  background-color: var(--secondary-color-white);
}

.sectionTitle {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin: 0 0 48px;
  color: var(--primary-color-600);
}

.sectionSubtitle {
  max-width: var(--max-width);
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 48px;
}

.sectionContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

.heroSection {
  background-image: url('/images/defaults/hero.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 600px;
  overflow: hidden;
  width: 100%;
  background-color: #fff;
  padding: 96px 0;
}

.heroContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: var(--max-width);
}

.heroTitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroTitle {
  text-align: center;
  font-size: 48px;
  margin-bottom: 16px;
  line-height: 1.5;
}

.heroSubtitle {
  font-size: 24px;
  margin-bottom: 48px;
  text-align: center;
  line-height: 1.5;
}

.heroBackground {
  display: flex;
  justify-content: center;
  align-items: center;
}

/** Services section */

.servicesContainer {
  margin: 0 auto;
  width: 100%;
  max-width: var(--max-width);
}

.serviceCard {
  box-sizing: border-box;
  padding: 32px;
  background-color: #fafafd;
}

.serviceTitle {
  align-items: center;
  font-size: 16px;
  color: var(--primary-color-600);
}
.serviceTitle h3 {
  margin: 0;
  display: block;
}

.serviceIcon {
  font-size: 30px;
  margin-bottom: 10px;
}

/** Book section */

.bookSection {
  width: 100%;
  padding: 96px 0;
}

#bookSectionTitle {
  text-align: left;
}

.bookContainer {
  box-sizing: border-box;
  padding-left: 50px;
  display: flex;
  max-width: var(--max-width);
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 96px;
}

.bookImageContainer {
  box-shadow: 15px 15px 25px 0px rgba(0, 0, 0, 0.75);
  width: 316px;
  height: 490px;
  transform: rotate(-10deg);
}

.bookImage {
  width: 317px;
  height: 490px;
  object-fit: cover;
  max-width: none;
}

.bookTitle {
  font-size: 26px;
  font-weight: bold;
  margin: 0;
}

.bookSubtitle {
  line-height: 2;
  margin: 24px 0 48px;
}

/** MARK: Team section */

.teamContainer {
  margin: 0 auto;
  width: 100%;
  max-width: var(--max-width);
}

.teamMemberLink {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teamMember {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.teamMemberImageContainer {
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 3px;
  border: 2px solid var(--primary-color-600);
}

.teamMemberImageContainer img {
  width: 140px;
  height: 140px;
  margin: 0;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}

.teamMemberDetails {
  text-align: center;
}

.teamMemberDetails h2 {
  font-size: 22px;
  margin: 10px 0 0;
  color: var(--primary-color-600);
  white-space: nowrap;
}

.teamMemberDetails p {
  font-size: 16px;
  margin: 0 0 10px 0;
  white-space: nowrap;
  color: var(--secondary-color-900);
}

.iconContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.devicon-github-original,
.devicon-swift-plain,
.devicon-linkedin-plain {
  font-size: 24px;
}

/** Footer */

.external {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.external a i {
  font-size: 36px;
  color: var(--secondary-color-white);
}

.contact {
  margin: 50px 0;
}

.contact a {
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: end;
  color: var(--secondary-color-white);
}

.contact a:hover {
  color: var(--primary-color-500);
}

.contact a svg {
  margin-right: 10px;
}

.footerNav {
  display: flex;
  justify-content: space-between;
  border-top: 0.5px solid var(--secondary-color-700);
}

#copyright {
  padding: 32px 0;
}

/** Development page */

.developmentTitle {
  text-align: center;
  padding: 32px 20px;
}

.developmentTitle h1 {
  font-size: 48px;
  margin-bottom: 32px;
}

.developmentImage {
  width: 100%;
  max-width: 960px;
  height: auto;
  object-fit: contain;
}

/** Posts page */

.blogTitle {
  text-align: center;
  margin: 50px 20px 80px;
}

.blogTitle h1 {
  font-size: 48px;
  margin: 0;
}

.post {
  background-color: #fafafd;
}

.post:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1rem 1.7rem,
    rgba(0, 0, 0, 0.22) 0px 0.6rem 0.6rem;
  transform: translateY(-3px);
  transition: all 0.3s;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.image {
  position: relative !important;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.image img {
  object-fit: cover;
}

.content {
  padding: 10px 20px 20px;
  position: relative;
  line-height: normal;
}

.content h3 {
  margin: 10px 0 0 0;
  font-size: 24px;
}

.content time {
  font-style: italic;
  color: var(--primary-color-600);
}

.authors {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.authorBadge {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--secondary-color-400);
}

.midi {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
}

.mini {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
}

.tags {
  display: flex;
  font-size: 12px;
  gap: 10px;
}

.tag {
  display: flex;
  align-items: center;
  height: 24px;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  background-color: var(--primary-color-100);
  color: var(--primary-color-600);
  padding: 7px 8px 6px;
  border: 1px solid var(--primary-color-200);
  border-radius: 8px;
}

.meta {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tagLink {
  display: flex;
  gap: 3px;
}

a.tagLink,
a.tagLink:hover,
a.tagLink:visited {
  color: var(--secondary-color-400);
}

.tagLink figure {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
}

/** Single post page */

#post-header {
  margin: 40px auto;
}

#post-header .title {
  font-size: 36px;
  margin: 48px 0 20px;
}

a.authorBadge,
a.authorBadge:hover,
a.authorBadge:visited {
  color: var(--secondary-color-400);
}

.times {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.times svg {
  color: var(--secondary-color-400);
}

#post-header time {
  font-style: italic;
  color: var(--secondary-color-400);
}

.separator {
  display: flex;
  align-items: center;
}

.readingTime {
  font-size: 16px;
  font-style: italic;
  color: var(--secondary-color-400);
}

.data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTags {
  border-radius: 5px;
  margin-right: 10px;
  display: inline-block;
  background-color: var(--primary-color-100);
  color: var(--primary-color-500);
  padding: 2px 10px 2px 15px;
  clip-path: polygon(10px 0%, 100% 0%, 100% 100%, 10px 100%, 0 50%);
}

.relatedPosts {
  display: flex;
  gap: 20px;
  margin-bottom: 36px;
}

.relatedCover {
  margin-top: 5px;
  width: 100%;
  max-width: 250px;
}

.relatedTitle {
  font-size: 18px;
  margin: 0 0 8px;
}

.relatedContent {
  line-height: 1.3;
}

.relatedContent p {
  font-size: 16px;
  margin: 0 0 8px;
}

.relatedAuthors {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--secondary-color-400);
  font-size: 14px;
  font-style: italic;
}

.morePostsTitle {
  font-size: 24px;
  margin: 0;
  padding: 10px 0;
  color: var(--primary-color-400);
  border-top: 1px solid var(--primary-color-400);
}

/** Tags, authors */

.header {
  padding: 64px 0;
  text-align: center;
}

.profile-picture {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.description {
  color: var(--secondary-color-400);
}

.postCounter {
  margin-top: 0;
  color: var(--primary-color-400);
  text-align: left;
}

.authorsTitle,
.tagsTitle {
  text-align: center;
}

.authorsTitle h1,
.tagsTitle h1 {
  font-size: 48px;
  margin: 0;
}

.authorsTitle p,
.tagsTitle p {
  margin: 0;
  color: var(--secondary-color-400);
}

.authorsContainer,
.tagsContainer {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  justify-content: center;
  gap: 36px;
}

.partialAuthor,
.partialTag {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
}

.partialAuthor p,
.partialAuthor h3,
.partialTag p,
.partialTag h3 {
  margin: 0;
}

.partialAuthor h3,
.partialTag h3 {
  font-size: 18px;
  height: 18px;
  color: var(--primary-color-400);
  white-space: nowrap;
}

.partialAuthor p,
.partialTag p {
  font-size: 13px;
  color: var(--secondary-color-400);
}

/**-----------------------------------------------------------------------------
** Media Queries
**----------------------------------------------------------------------------*/

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--secondary-color-black);
    color: var(--secondary-color-white);
  }

  button:disabled {
    background-color: var(--secondary-color-900);
    border-color: var(--secondary-color-700);
    color: var(--secondary-color-600);
  }

  .card {
    background-color: #1d1c20;
    color: var(--secondary-color-white);
    border: 1px solid #ffffff14;
  }

  .sectionPrimary {
    background-color: var(--secondary-color-950);
  }
  .navbarHeader,
  .heroSection,
  #menu,
  .sectionSecondary {
    background-color: var(--secondary-color-black);
  }

  /** Navbar*/

  .navbarContact {
    color: var(--primary-color-400);
  }

  /** Hero section*/

  /** Services section*/

  .servicesSectionTitle {
    color: var(--primary-color-400);
  }

  .serviceTitle {
    color: var(--primary-color-400);
  }

  /** Book section*/

  .bookImageContainer {
    box-shadow: 15px 15px 25px 0px rgba(0, 0, 0, 0.55);
  }

  .sectionTitle {
    color: var(--primary-color-400);
  }

  /** Team section*/

  .teamSectionTitle {
    color: var(--primary-color-400);
  }

  .teamMemberImage {
    border: 3px solid var(--primary-color-400);
  }

  .teamMemberDetails h2 {
    color: var(--primary-color-400);
  }

  .devicon-github-original.colored {
    color: var(--secondary-color-white) !important;
  }

  /** Partners section*/

  /** Reviews section*/

  /** Footer*/

  .footer {
    color: var(--secondary-color-50);
  }
}

/** Breakpoints */

@media (max-width: 1200px) {
  .teamMemberImageContainer {
    width: 130px;
    height: 130px;
  }
  .teamMemberImageContainer img {
    width: 120px;
    height: 120px;
  }
  .teamMemberDetails h2 {
    font-size: 22px;
  }
  .teamMemberDetails p {
    font-size: 16px;
  }
}

@media (max-width: 900px) {
  .bookContainer {
    flex-direction: column;
    padding-left: 0;
    text-align: center;
    align-items: center;
    gap: 48px;
  }

  .bookImageContainer {
    transform: rotate(-10deg) scale(0.8);
  }

  #bookSectionTitle {
    text-align: center;
  }

  .contact a,
  .external {
    justify-content: center;
  }

  .footerNav {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .sectionTitle {
    font-size: 36px;
  }

  .sectionSubtitle {
    font-size: 20px;
  }

  .bookTitle {
    font-size: 24px;
  }

  /* .authorsContainer,
 .tagsContainer {
   grid-template-columns: repeat(3, minmax(0, 1fr));
 } */
}

@media (max-width: 600px) {
  p {
    font-size: 16px;
  }

  .section {
    padding: 48px 20px;
  }

  .sectionTitle {
    font-size: 28px;
    margin: 0 0 24px;
  }

  .sectionSubtitle {
    font-size: 18px;
    margin: 0 0 24px;
  }

  .bookTitle {
    font-size: 20px;
  }

  /* .authorsContainer,
 .tagsContainer {
   grid-template-columns: repeat(2, minmax(0, 1fr));
 } */

  #copyright {
    font-size: 14px;
  }
}
