:root {
  --primary-color-50: #edeeff;
  --primary-color-100: #dfe0ff;
  --primary-color-200: #c5c6ff;
  --primary-color-300: #a3a1ff;
  --primary-color-400: #8f82fd;
  --primary-color-500: #795df7;
  --primary-color-600: #6b3fec;
  --primary-color-700: #5d32d0;
  --primary-color-800: #4c2ba8;
  --primary-color-900: #402b84;
  --primary-color-950: #26194d;

  --secondary-color-white: #ffffff;
  --secondary-color-50: #f7f7f7;
  --secondary-color-100: #ededed;
  --secondary-color-200: #e0e0e0;
  --secondary-color-300: #b3b3b3;
  --secondary-color-400: #999999;
  --secondary-color-500: #858585;
  --secondary-color-600: #737373;
  --secondary-color-700: #666666;
  --secondary-color-800: #525252;
  --secondary-color-900: #404040;
  --secondary-color-950: #212121;
  --secondary-color-black: #000000;

  --link-color: #5856d7;
  --link-color-visited: #5856d7;
  --link-color-hover: #302ea9;
  --link-color-active: #5856d7;

  --background-color: #fff;
  --background-color-1: #f5f5f5;
  --background-color-2: #efefef;
  --background-color-3: #e0e0e0;
  --background-color-4: #afafaf;

  --pre-background-color: #fff;

  --text-color: #333;
  --text-color-1: #000;
  --text-color-2: #666;
  --text-color-3: #999;

  --white-color: #ffffff;
  --black-color: #000000;
  --blue-color: #006fff;
  --green-color: #2ec04f;
  --indigo-color: #4e4cd0;
  --orange-color: #ff8a00;
  --pink-color: #ff284b;
  --purple-color: #a648d9;
  --red-color: #ff342a;
  --teal-color: #50c1f9;
  --yellow-color: #ffc500;
  --brown-color: #987953;
  --gray-color: #838388;

  --max-width: 960px;
}
@media (prefers-color-scheme: dark) {
  :root {
    --link-color: #7d7aff;
    --link-color-visited: #7d7aff;
    --link-color-hover: #aba9ff;
    --link-color-active: #7d7aff;

    --text-color: #c9c9c9;
    --text-color-1: #f0f0f0;
    --text-color-2: #999;
    --text-color-3: #ccc;

    --background-color: #000;
    --background-color-1: #1a1a1a;
    --background-color-2: #262626;
    --background-color-3: #333333;
    --background-color-4: #606060;

    --pre-background-color: #0d1117;

    --white-color: #ffffff;
    --black-color: #000000;
    --blue-color: #0d79ff;
    --green-color: #2acb4e;
    --indigo-color: #5352e2;
    --orange-color: #ff950d;
    --pink-color: #ff3054;
    --purple-color: #b750f0;
    --red-color: #ff3c33;
    --teal-color: #59ccff;
    --yellow-color: #ffd00d;
    --brown-color: #a2835d;
    --gray-color: #8d8d92;
  }
}
