{{<html}}
{{$main}}

{{& page.contents}}


<section class="group">
    <h4>Featured posts</h4>

    {{#empty(site.context.featured)}}
    Empty.
    {{/empty(site.context.featured)}}
    {{^empty(site.context.featured)}}
    <div class="grid grid-321">
    {{#site.context.featured}}
        {{> blog.blocks.post}}
    {{/site.context.featured}}
    </div>
    {{/empty(site.context.featured)}}
</section>


<section class="group">

    <h4>Latest posts</h4>

    {{#empty(site.context.posts)}}
    Empty.
    {{/empty(site.context.posts)}}
    {{^empty(site.context.posts)}}
    <div class="grid grid-321">
    {{#site.context.posts}}
        {{> blog.blocks.post}}
    {{/site.context.posts}}
    </div>
    {{/empty(site.context.posts)}}
</section>

{{/main}}
{{/html}}
