<!DOCTYPE html>
<html {{#site.language}}lang="{{.}}"{{/site.language}}>
<head>
    <meta charset="utf-8">
    {{#page.metadata.noindex}}<meta name="robots" content="noindex">{{/page.metadata.noindex}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="canonical" href="{{page.metadata.canonical}}">
    {{#page.metadata.hreflang}}
    <link rel="alternate" hreflang="{{lang}}" href="{{url}}">
    {{/page.metadata.hreflang}}
    {{#page.metadata.prev}}<link rel="prev" href="{{.}}">{{/page.metadata.prev}}
    {{#page.metadata.next}}<link rel="next" href="{{.}}">{{/page.metadata.next}}
    
    <title>{{page.metadata.title}} - {{site.title}}</title>
    <meta name="description" content="{{page.metadata.description}}">
    
    <meta property="og:url" content="{{page.metadata.permalink}}">
    <meta property="og:title" content="{{page.metadata.title}} - {{site.title}}">
    <meta property="og:description" content="{{page.metadata.description}}">
    {{#page.metadata.imageUrl}}<meta property="og:image" content="{{.}}" />{{/page.metadata.imageUrl}}

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{page.metadata.title}} - {{site.title}}">
    <meta name="twitter:description" content="{{page.metadata.description}}">
    {{#page.metadata.imageUrl}}<meta name="twitter:image" content="{{.}}">{{/page.metadata.imageUrl}}
    
    <link rel="stylesheet" href="{{site.baseUrl}}css/modern-normalize.css">
    <link rel="stylesheet" href="{{site.baseUrl}}css/modern-base.css">
    <link rel="stylesheet" href="{{site.baseUrl}}css/grid.css">
    <link rel="stylesheet" href="{{site.baseUrl}}css/default-style.css">
    <link rel="stylesheet" href="{{site.baseUrl}}css/navigation.css">

    <!--
    <link rel="stylesheet" href="{{site.baseUrl}}css/global.css">
    <link rel="stylesheet" href="{{site.baseUrl}}css/style.css">
    <link rel="stylesheet" href="{{site.baseUrl}}css/syntax.css">
    -->
    {{#page.css}}<link rel="stylesheet" href="{{.}}">{{/page.css}}
    
    {{> blocks.icons}}
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/xcode.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>


    <script>hljs.highlightAll();</script>

</head>

<body>

    {{> blocks.navigation}}

    <main id="page-container">
    {{$main}}
        <p>No content.</p>
    {{/main}}
    </main>

    {{> blocks.footer}}

    <script src="/js/main.js" async></script>
    {{#page.js}}<script src="{{.}}" async></script>{{/page.js}}

</body>
</html>
