{{<index}}
{{$main}}

{{& content}}

<div id="home" class="wrapper">
    <h2>Pages</h2>
    {{#empty(context.pages)}}
    Empty.
    {{/empty(context.pages)}}
    {{^empty(context.pages)}}
    <ul>
    {{#context.pages}}
    <li>
        <a href="{{permalink}}">{{title}}</a>
    </li>
    {{/context.pages}}
    </ul>
    {{/empty(context.pages)}}
</div>
{{/main}}
{{/index}}

