
#authors img, #tags img, .profile-picture img, .meta img {
    width: 128px;
    border-radius: 50%;
}

footer img {
    width: 44px;
}



.grid-421 a {
    text-align: center;
    padding: 32px 0px;
}
.grid-421 a:hover {
    background: var(--bg-color);
    border-radius: 16px;
    
}

.card {
    padding: 16px;
    margin-bottom: 32px;
}
.mini {
    display: inline-block;
}
.mini img {
    width: 32px;
    border-radius: 50%;
}
