{{<html}}
{{$main}}
<div id="tags" class="wrapper">
    <header>
        <h1>{{page.title}}</h1>
        <p>{{page.description}}</p>
    </header>

    {{#empty(page.tags)}}
    Empty.
    {{/empty(page.tags)}}
    {{^empty(page.tags)}}
    <div class="grid grid-321">
    {{#page.tags}}
        {{> blog.blocks.tag}}
    {{/page.tags}}
    
    </div>
    {{/empty(page.tags)}}
</div>
{{/main}}
{{/html}}
