{{<index}}
{{$main}}
    
<div id="blog" class="content-wrapper">
    <header>
        <h1>{{page.metadata.title}}</h1>
        <p>{{page.metadata.description}}</p>
        <div class="authors"> 
        {{#page.context.authors}}
            <p class="author"><a href="{{userDefined.authorLink}}" target="_blank">{{title}}</a></p>
        {{/page.context.authors}}
        </div>
    </header>
    
    

    {{#empty(page.context.posts)}}
    Empty.
    {{/empty(page.context.posts)}}
    {{^empty(page.context.posts)}}
    <div class="grid grid-321">
    {{#page.context.posts}}
        {{> blog.blocks.post}}
    {{/page.context.posts}}
    </div>
    {{/empty(page.context.posts)}}
    
    {{#empty(page.context.pagination)}}
    {{/empty(page.context.pagination)}}
    {{^empty(page.context.pagination)}}
    <div class="pagination">
    {{#page.context.pagination}}
        {{> blocks.pagination}}
    {{/page.context.pagination}}
    </div>
    {{/empty(page.context.pagination)}}

    <hr />

    <div class="newsletter">
        <h2>Swift on Server Newsletter</h2>
        <p>Subscribe here to stay in the loop with the best Server-Side Swift news.</p>
        <iframe height="300" scrolling="no" frameborder="0" src="https://cdn.forms-content-1.sg-form.com/3aafd3bd-d72e-11ee-a5d3-8e190346b185" />
    </div>

</div>
{{/main}}
{{/index}}
