{{<index}}
{{$main}}

{{#page.context.post}}
<article>
    <header>
        <section id="post-header" class="content-wrapper">
            <time datetime="{{date}}">{{date}}</time>
            <h1 class="title">{{title}}</h1>
            <p class="excerpt">{{description}}</p>
            {{#empty(tags)}}
            {{/empty(tags)}}
            {{^empty(tags)}}
            <div class="meta">
            {{#tags}}
                {{> blog.blocks.tag}}
            {{/tags}}
            </div>
            {{/empty(tags)}}
            {{#authors}}
                {{#figure}}
                {{> blog.blocks.authorFigure}}
                {{/figure}}
            <p>
                <span class="author">Written by: <a href="{{userDefined.authorLink}}" target="_blank">{{title}}</a> @ 
                <span class="author"><a href="{{userDefined.companyLink}}" target="_blank">{{userDefined.company}}</a></span><br>
                <span class="reading-time">Reading time: {{readingTime}} min read</span><br>
            </p>
            {{/authors}}
        </section>
        
        {{#figure}}
        {{#imageUrl}}<img src="{{imageUrl}}" alt="{{title}}">{{/imageUrl}}
        {{/figure}}
    </header>

    <section class="content-wrapper">
        <hr>
    </section>

    <section id="contents" class="content-wrapper">
    
    {{& page.content}}
        
    </section>

    <section id="about-author" class="content-wrapper">
        {{#authors}}
            {{#figure}}
            {{> blog.blocks.authorFigure}}
            {{/figure}}
            <h4>About {{title}}</h4>
            <p class="author-about">{{& markdown}}</p>

        <a href="{{userDefined.ctaLink}}" target="_blank" class="author-cta">{{userDefined.cta}}</a>
        {{/authors}}
    </section>
</article>

    <div class="content-wrapper">

            {{^page.context.next}}
            {{/page.context.next}}
            {{#page.context.next}}
            <hr>
                <h2 class="morePostsTitle">Next post</h2>
                {{> blog.blocks.post}}
            {{/page.context.next}}
            {{^page.context.prev}}
            {{/page.context.prev}}
            {{#page.context.prev}}
            <hr>
                <h2 class="morePostsTitle">Previous post</h2>
                {{> blog.blocks.post}}
            {{/page.context.prev}}
        
    </div>
    
    <div class="content-wrapper ">
            <hr>

    <h2 class="morePostsTitle">Related posts</h2>
    {{#empty(page.context.related)}}
    Empty.
    {{/empty(page.context.related)}}
    {{^empty(page.context.related)}}
    {{#page.context.related}}
        {{> blog.blocks.post}}
    {{/page.context.related}}
    {{/empty(page.context.related)}}
    </div>
    <div class="content-wrapper ">
            <hr>

    <h2 class="morePostsTitle">More posts by the author(s)</h2>
    {{#empty(page.context.moreByAuthor)}}
    Empty.
    {{/empty(page.context.moreByAuthor)}}
    {{^empty(page.context.moreByAuthor)}}
    {{#page.context.moreByAuthor}}
        {{> blog.blocks.post}}
    {{/page.context.moreByAuthor}}
    {{/empty(page.context.moreByAuthor)}}
    </div>
{{/page.context.post}}

{{/main}}
{{/index}}
