<header id="page-header">
    <a id="site-logo" href="{{site.baseUrl}}">
        <figure>
            <picture>
                <source
                    srcset="{{site.baseUrl}}images/logos/logo~dark.png"
                    media="(prefers-color-scheme: dark)"
                >
                <img
                    id="logo-image"
                    src="{{site.baseUrl}}images/logos/logo.png"
                    alt="Logo of {{site.title}}"
                    title="{{site.title}}"
                >
            </picture>
        </figure>
    </a>
</header>
