<footer>
    <div class="grid grid-421">

        <div>
            <h4>Menu</h4>
            <ul>
                <li><a href="/news/">News</a></li>
                <li><a href="/docs/">Docs</a></li>
                <li><a href="/faq/">FAQ</a></li>
                <li><a href="/showcases/">Showcases</a></li>
                <li><a href="/support/">Support</a></li>
            </p>
        </div>
        
        <div>
            <h4>Links</h4>
            <li><a href="https://github.com/binarybirds/">GitHub</a></li>
            <li><a href="https://binarybirds.com/">Binary Birds</a></li>
            <li><a href="https://x.com/tiborbodecs">tiborbodecs</a></li>
            <li><a href="{{site.baseUrl}}rss.xml" target="_blank">RSS</a></li>
            <li><a href="{{site.baseUrl}}sitemap.xml" target="_blank">Sitemap</a></li>
        </div>
        
        
        <div>
            <picture>
                <source
                    srcset="{{site.baseUrl}}images/logos/logo~dark.png"
                    media="(prefers-color-scheme: dark)"
                >
                <img
                    id="logo-image"
                    src="{{site.baseUrl}}images/logos/logo.png"
                    alt="Logo of {{site.title}}"
                    title="{{site.title}}"
                >
            </picture>
        </div>
        
        <div>
            <h4>Toucan</h4>
            <p><small>This site was generated using <a href="https://swift.org/" target="_blank">Swift</a> & <a href="https://github.com/binarybirds/toucan/" target="_blank">Toucan</a>.</small></p>
            <small>{{site.title}}<br>&copy; 2023 - {{year}}</small>
        </div>
        
    </div>
</footer>
