<a href="{{permalink}}">
    <div class="partialAuthor">
        <div class="profile-picture">
            {{#imageUrl}}<img src="{{imageUrl}}" alt="{{title}}">{{/imageUrl}}
        </div>
        <h3>{{title}}</h3>
        <p>({{numberOfPosts}}) posts</p>
    </div>
</a>
