{{<index}}
{{$main}}

{{& page.content}}

<div id="home" class="wrapper">
    <h2>Pages</h2>
    {{#empty(page.context.pages)}}
    Empty.
    {{/empty(page.context.pages)}}
    {{^empty(page.context.pages)}}
    <ul>
    {{#page.context.pages}}
    <li>
        <a href="{{permalink}}">{{title}}</a>
    </li>
    {{/page.context.pages}}
    </ul>
    {{/empty(page.context.pages)}}
    
    <h2>Featured posts</h2>
    {{#empty(page.context.featured)}}
    Empty.
    {{/empty(page.context.featured)}}
    {{^empty(page.context.featured)}}
    <div class="grid grid-321">
    {{#page.context.featured}}
        {{> blog.blocks.post}}
    {{/page.context.featured}}
    </div>
    {{/empty(page.context.featured)}}
    
    
    <h2>Latest posts</h2>
    {{#empty(page.context.posts)}}
    Empty.
    {{/empty(page.context.posts)}}
    {{^empty(page.context.posts)}}
    <div class="grid grid-321">
    {{#page.context.posts}}
        {{> blog.blocks.post}}
    {{/page.context.posts}}
    </div>
    {{/empty(page.context.posts)}}
    
    <h2>Authors</h2>
    {{#empty(page.context.authors)}}
    Empty.
    {{/empty(page.context.authors)}}
    {{^empty(page.context.authors)}}
        <div class="grid grid-321">
    {{#page.context.authors}}
        {{> blog.blocks.author}}
    {{/page.context.authors}}
    </div>
    {{/empty(page.context.authors)}}
    
    <h2>Tags</h2>
    {{#empty(page.context.tags)}}
    Empty.
    {{/empty(page.context.tags)}}
    {{^empty(page.context.tags)}}
        <div class="grid grid-321">
    {{#page.context.tags}}
        {{> blog.blocks.tag}}
    {{/page.context.tags}}
    </div>
    {{/empty(page.context.tags)}}
    
    
    <h2>Docs</h2>
    {{#empty(page.context.categories)}}
    Empty.
    {{/empty(page.context.categories)}}
    {{^empty(page.context.categories)}}
    <div>
    <ul>
    {{#page.context.categories}}
        <li>
            <a href="{{permalink}}">{{title}}</a>
            <ul>
            {{#guides}}
                <li><a href="{{permalink}}">{{title}}</a></li>
            {{/guides}}
            </ul>
        </li>
    {{/page.context.categories}}
    </ul>
    </div>
    {{/empty(page.context.categories)}}

</div>
{{/main}}
{{/index}}
