<link rel="shortcut icon" href="{{site.baseUrl}}images/icons/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="{{site.baseUrl}}images/icons/icon-320.png" type="image/png">

<link rel="apple-touch-icon" href="{{site.baseUrl}}images/icons/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="57x57" href="{{site.baseUrl}}images/icons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{site.baseUrl}}images/icons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{site.baseUrl}}images/icons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{site.baseUrl}}images/icons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{site.baseUrl}}images/icons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{site.baseUrl}}images/icons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{site.baseUrl}}images/icons/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{site.baseUrl}}images/icons/apple-touch-icon-180x180.png">

<link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
<link rel="shortcut icon" href="http://localhost:3000/images/icons/favicon.ico" type="image/x-icon">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap" rel="stylesheet">
    
<link rel="stylesheet" href="{{site.baseUrl}}css/styles.css">
<link rel="stylesheet" href="{{site.baseUrl}}css/syntax.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/http.min.js"></script>
<script>hljs.highlightAll();</script>