          <div class="teamMember">
            <div class="teamMemberImageContainer">
                {{#imageUrl}}<img src="{{imageUrl}}" alt="{{title}}">{{/imageUrl}}
            </div>
            <div class="teamMemberDetails">
              <h2>{{title}}</h2>
              <p>{{description}}</p>
              <div class="iconContainer">
                <i class="devicon-github-original colored"></i>
                <a
                  href="https://www.swift.org/sswg/"
                  target="_blank"
                  rel="noopener"
                  ><i class="devicon-swift-plain colored"></i
                ></a>
                <i class="devicon-linkedin-plain colored"></i>
              </div>
            </div>
          </div>
