    <div class="navbarHeader">
      <div class="navbarContainer">
        <div class="navbarLogo">
          <a class="navbarLogoLink" href="/">
            <picture>
              <source
                srcset="{{site.baseUrl}}icons/logo-dark.png"
                media="(prefers-color-scheme: dark)"
              />
              <img
                class="navbarLogoImage"
                alt="BinaryBirds logo"
                loading="lazy"
                width="32"
                height="32"
                decoding="async"
                style="color: transparent"
                src="{{site.baseUrl}}icons/logo.png"
              />
            </picture>
            Binary Birds
          </a>
        </div>
        <nav class="navbarNavigation">
          <label for="showMenu" class="showMenu">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none" viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              height="24"
              width="24"
              class="hamburgerIcon"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
              />
            </svg>
          </label>
          <input type="checkbox" id="showMenu" role="button" />
          <ul id="menu">
            <li><a href="/development">Development</a></li>
            <li>
              <a href="/consulting">Consulting</a>
            </li>
            <li><a href="/blog/">Blog</a></li>
            <li>
              <a href="mailto:binarybirdsoffical@gmail.com" class="navbarContact">
                <svg
                  stroke="currentColor"
                  fill="none"
                  stroke-width="1.5"
                  viewBox="0 0 24 24"
                  aria-hidden="true"
                  height="24"
                  width="24"
                  xmlns="http://www.w3.org/2000/svg"
                  class="envelopeIcon"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
                  ></path></svg
                >Contact Us
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
