    <a href="{{permalink}}" target="">
        {{#imageUrl}}<img src="{{imageUrl}}" alt="{{title}}">{{/imageUrl}}
        <div class="content">
            <time datetime="{{date}}">{{date}}</time>
            <h3 class="title">{{title}}</h3>
    <div class="authors">
        {{#authors}}
            <div class="authorBadge">
                <div class="mini">
                    {{#imageUrl}}<img src="{{imageUrl}}" alt="{{title}}">{{/imageUrl}}
                </div>
                <div>{{title}}</div>
            </div>
        {{/authors}}
    </div>
            <p>{{description}}</p>
    <div class="tags">
        {{#tags}}
            <div class="tag">{{title}}</div>
        {{/tags}}
    </div>
        </div>
    </a>
