<a href="{{permalink}}">
    <div class="partialTag">
        <div class="profile-picture">{{> _partials.figure}}</div>
        <h3>{{title}}</h3>
        <p>({{numberOfPosts}}) posts</p>
    </div>
</a>