a:link {
    color: var(--link-color);
}
a:visited {
    color: var(--link-color-visited);
}
a:hover {
    color: var(--link-color-hover);
}
a:active {
    color: var(--link-color-active);
}
body {
    background: var(--background-color);
    color: var(--text-color);
}
h1 {
    font-size: 2.5rem;
    line-height: 3rem;
}
h2 {
    font-size: 1.75rem;
    line-height: 2.25rem;
    margin-top: 1.5rem;
}
h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 1.5rem;
}
h4 {
    font-size: 1.25rem;
    line-height: 1.75;
}
h5 {
    font-size: 1.125rem;
    line-height: 1.625rem;
}
h6 {
    font-size: 1rem;
    line-height: 1.5rem;
}
p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 16px;
    margin-bottom: 32px;
}


pre {
    font-size: 0.8rem;
    line-height: 1.25rem;
    background: var(--background-color);
    padding: 1rem;
    margin: 2rem auto;
    border-radius: 16px;
    border: 3px solid var(--background-color-1);
}
pre code {
    text-shadow: none;
    font-family: monospace;
    display: block;
    overflow-x: auto;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
}
pre code a {
    border-bottom: 1px dotted var(--text-color);
}
pre.snippet {
    margin-bottom: 0;
}
a.source.github::before {
    content: 'Source: ';
    font-weight: bold;
}
a.source.github {
    text-align: center;
    display: block;
    margin-top: 4px;
    margin-bottom: 32px;
}

p code, li code {
    font-family: monospace;
    font-weight: bold;
}
p code a, li code a {
    font-weight: normal;
}
li p {
    margin-top: 0;
}
p code a:hover, li code a:hover {
    color: var(--link-color);
    border-bottom: 1px solid var(--link-color);
}
p code a:after, li code a:after, a.source.github:after {
    display: inline-block;
    content: "";
    width: 12px;
    height: 12px;
    margin-left: 0.5em;
    margin-right: 0.25em;
    background: var(--link-color);
    mask-image: url('data:image/svg+xml;utf8,    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">    <path fill-rule="evenodd" clip-rule="evenodd"     d="M 7.5,10 13.6,3.7 14.2,2.9 14,3.7 V 7 h 2 V 0.5 L 15.5,0 H 9 v 2 h 3.3 L 13.1,1.8 12.3,2.4 6,8.5 Z"/>    <path fill-rule="evenodd" clip-rule="evenodd"     d="M 7,0 H 0.5 L 0,0.5 v 15 L 0.5,16 h 15 L 16,15.5 V 9 h -2 v 5 H 2 V 2 h 5 z"/>    </svg>');
    mask-size: 100% 100%;
    -webkit-mask-image: url('data:image/svg+xml;utf8,    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">    <path fill-rule="evenodd" clip-rule="evenodd"     d="M 7.5,10 13.6,3.7 14.2,2.9 14,3.7 V 7 h 2 V 0.5 L 15.5,0 H 9 v 2 h 3.3 L 13.1,1.8 12.3,2.4 6,8.5 Z"/>    <path fill-rule="evenodd" clip-rule="evenodd"     d="M 7,0 H 0.5 L 0,0.5 v 15 L 0.5,16 h 15 L 16,15.5 V 9 h -2 v 5 H 2 V 2 h 5 z"/>    </svg>');
    -webkit-mask-size: 100% 100%;
}
