:root {
    --container: 400px;
    --scale: 1rem;
    
    --space-4xl: 4.5rem;
    --space-3xl: 3rem;
    --space-2xl: 2.5rem;
    --space-xl: 2rem;
    --space-l: 1.75rem;
    --space: 1.5rem;
    --space-s: 1rem;
    --space-xs: 0.75rem;
    --space-2xs: 0.5rem;
    --space-3xs: 0.25rem;
    --space-4xs: 0.125rem;
    
    --border-margin: -0.0625rem;

    --color: #5856D7;
    --color-1: #fa3ebe;
    --color-2: purple;
    --color-3: #105CD5;
    
    --bg-color: #fff;
    --bg-color-1: #f5f5f5;
    --bg-color-2: #efefef;
    --bg-color-3: #e0e0e0;
    --bg-color-4: #afafaf;
    
    --text-color: #333;
    --text-color-1: #000;
    --text-color-2: #666;
    --text-color-3: #999;

    --white-color: #ffffff;
    --black-color: #000000;
    
    --blue-color: #006fff;
    --green-color: #2ec04f;
    --indigo-color: #4e4cd0;
    --orange-color: #ff8a00;
    --pink-color: #ff284b;
    --purple-color: #a648d9;
    --red-color: #ff342a;
    --teal-color: #50c1f9;
    --yellow-color: #ffc500;
    --brown-color: #987953;
    --gray-color: #838388;
}
@media screen and (min-width: 600px) {
    :root {
        --container: 480px;
        --scale: 1.125rem;

        --border-margin: -0.05rem;
    }
}
@media screen and (min-width: 900px) {
    :root
        --container: 560px;{
        --scale: 1.25rem;

        --border-margin: -0.0625rem;
    }
}
@media screen and (min-width: 1200px) {
    :root {
        --container: 640px;
        --scale: 1.5rem;
    }
}
@media screen and (min-width: 1500px) {
    :root {
        --container: 768px;
        --scale: 1.75rem;
    }
}
@media screen and (min-width: 1800px) {
    :root {
        --container: 860px;
        --scale: 2rem;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --color: #7D7AFF;
        --color-1: #fa3ebe;
        --color-2: purple;
        --color-3: #105CD5;

        --bg-color: #000;
        --bg-color-1: #1a1a1a;
        --bg-color-2: #262626;
        --bg-color-3: #333333;
        --bg-color-4: #606060;
        
        --text-color: #c9c9c9;
        --text-color-1: #f0f0f0;
        --text-color-2: #999;
        --text-color-3: #ccc;


        --blue-color: #0d79ff;
        --green-color: #2acb4e;
        --indigo-color: #5352e2;
        --orange-color: #ff950d;
        --pink-color: #ff3054;
        --purple-color: #b750f0;
        --red-color: #ff3c33;
        --teal-color: #59ccff;
        --yellow-color: #ffd00d;
        --brown-color: #a2835d;
        --gray-color: #8d8d92;
    }
}


* {
    margin: 0;
    padding: 0;
}
html {
    font-size: var(--scale);
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    line-height: var(--line-height);
}
body > header {
    padding: 0 env(safe-area-inset-right, 0) 0 env(safe-area-inset-left, 0);
    background-color: var(--bg-color);
}
body > footer {
/*    padding: var(--space) calc(env(safe-area-inset-left, 0) + var(--space)) calc(env(safe-area-inset-bottom, 0) + var(--space-4xl)) calc(env(safe-area-inset-right, 0) + var(--space));*/
    background-color: var(--bg-color);
/*    border-top: 0.5px solid var(--bg-color-2);*/
}
body > main {
/*    z-index: 1;*/
    background-color: var(--bg-color-1);
    color: var(--text-color-1);
    padding: var(--space) calc(env(safe-area-inset-right, 0) + var(--space)) var(--space-4xl) calc(env(safe-area-inset-left, 0) + var(--space));
}

section {
    margin-bottom: var(--space);
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}
img {
    width: 100%;
    height: auto;
}
img + * {
    margin-top: var(--space-s);
}
ol, ul {
    margin-left: var(--space);
}
dt {
    margin: var(--space-2xs);
    color: var(--text-color-1);
}
dd {
    margin-bottom: var(--space-2xl);
    background: var(--bg-color);
    color: var(--text-color);
    padding: var(--space-2xs) var(--space-xs);
    border-radius: 0.5rem;
}
hr {
    margin: -1px 0;
    margin-bottom: var(--space);
    border: none;
    border-bottom: 1px solid var(--bg-color-2);
}

/* typography */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: var(--text-color-1);
    margin-top: var(--space-3xl);
    margin-bottom: var(--space);
}
h1 {
    font-size: var(--font-size-4xl);
    line-height: var(--line-height-xl);
    margin-top: 0;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    font-weight: 800;
    color: red;
}
h2 {
    font-size: var(--font-size-3xl);
    line-height: var(--line-height-l);
}
h3 {
    font-size: var(--font-size-2xl);
    line-height: var(--line-height);
}
h4 {
    font-size: var(--font-size-xl);
    line-height: var(--line-height);
}
h5 {
    font-size: var(--font-size-l);
    line-height: var(--line-height);
}
h6 {
    font-size: var(--font-size);
    line-height: var(--line-height);
}
p, ul, ol, pre, table, blockquote {
    margin-bottom: var(--space);
}
pre {
    font-size: var(--font-size);
    line-height: var(--line-height);
    overflow: scroll;
}

sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}

/* links */
a {
    text-decoration: none;
}
a:hover, a:active {
    cursor: pointer;
}
a:link {
    color: var(--color);
}
a:visited {
    color: var(--color);
}
a.selected {
    color: var(--color-3);
}
.breadcrumb a.selected {
    color: var(--text-color);
}
a:hover, .breadcrumb a:hover {
    color: var(--color-1);
}
a:active {
    color: var(--color-2);
}

a.destructive {
    color: var(--red-color);
}
a.destructive:hover {
    color: #B22222;
}
a.button.destructive {
    color: var(--white-color);
    background: var(--red-color);
}
a.button.cancel {
    color: var(--white-color);
    background: var(--gray-color);
}
a.button.destructive:hover {
    background: #B22222;
}
a.button.cancel:hover {
    background: var(--black-color);
}

/* lists */

input, textarea, select, button, input[type=reset], input[type=submit], fieldset {
    display: block;
    font: inherit;
    line-height: inherit;
    box-sizing: border-box;
    border: none;
    padding: var(--space-2xs) var(--space-xs);
    border-radius: 0.5rem;
}
input[type=radio], input[type=checkbox] {
    display: inline-block;
    padding: var(--space-xs);
    position: relative;
    vertical-align: text-top;
    cursor: pointer;
    margin-right: var(--space-xs);
    margin-bottom: var(--space-2xs);
}
label {
    display: block;
    margin: var(--space-2xs);
}
input[type=checkbox] + label, input[type=radio] + label {
    position: relative;
    top: var(--space-4xs);
}
input[type=checkbox], input[type=checkbox] + label, input[type=radio], input[type=radio] + label {
    cursor: pointer;
}
input[type=checkbox], input[type=checkbox]:checked:after {
    border-radius: 0.125rem;
}
input[type=radio], input[type=radio]:checked:after {
    border-radius: 50%;
}
input[type=radio]:checked:after, input[type=checkbox]:checked:after {
    content: "";
    display: block;
    position: absolute;
    top: var(--space-3xs);
    left: var(--space-3xs);
    width: var(--space-s);
    height: var(--space-s);
}
input[type=reset], input[type=submit], button, .button {
    display: inline-block;
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
    padding: var(--space-2xs) var(--space-l);
    box-shadow: 0 3px 6px rgba(0,0,0,0.06), 0 3px 6px rgba(0,0,0,0.13);
    width: auto;
}
input[type=file] {
    font-size: 16px;
    line-height: 0;
}
input, input:focus, textarea, select, datalist {
    outline: none;
    -webkit-appearance: none;
}
select {
    padding-right: 2rem;
    background-repeat: no-repeat;
    background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
    background-position: right 1rem top 1.125rem, right 0.75rem top 1.125rem;
    background-size: 0.25rem 0.25rem, 0.25rem 0.25rem;
}
textarea {
    font: inherit;
    display: block;
    resize: none;
    height: 8rem;
}
textarea.xl {
    height: 20rem;
}
textarea.l {
    height: 12rem;
}
textarea.s {
    height: 6rem;
}
textarea.xs {
    height: 4rem;
}
input, textarea, select {
    color: var(--text-color);
    background-color: var(--bg-color);
    border: 2px solid var(--bg-color-3);
    width: 100%;
}
input[type=radio], input[type=checkbox] {
    width: auto;
}
input:focus, textarea:focus, select:focus {
    border: 2px solid var(--bg-color-4);
}
input[type=radio]:checked:after, input[type=checkbox]:checked:after, input[type=reset], input[type=submit], a.button, button {
    color: var(--white-color);
    background-color: var(--color);
}
input[type=reset]:hover, input[type=submit]:hover, a.button:hover, button:hover {
    color: var(--white-color);
    background-color: var(--color-1);
}
fieldset {
    padding: var(--space);
    margin-bottom: var(--space-4xl);
    border: 2px solid var(--bg-color-3);
}
fieldset legend {
    padding: 0 var(--space-xs);
}
.required {
    color: var(--color);
}
.more {
    color: var(--gray-color);
}
.error {
    display: block;
    color: var(--red-color);
    margin: var(--space-2xs);
}

/* table elements */
table, thead, tbody, tfoot, tr, th, td {
    display: block;
}
tr {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32px, 1fr));
    align-items: center;
    border-radius: 0.5rem;
    padding: var(--space-2xs) var(--space-xs);
    margin: var(--space) 0;
}
thead tr {
    font-weight: bold;
}
tbody tr {
    background: var(--bg-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px -1px, rgba(0, 0, 0, 0.06) 0px 1px 2px -1px;
}
tbody tr a:link, tbody tr a:visited, tbody tr a:active  {
    color: var(--text-color);
}
tbody tr a:hover  {
    color: var(--color-1);
}
td.action {
    text-align: center;
}
td {
    text-align: center;
    padding: var(--space-xs) 0;
}
td.field {
    grid-column: span 2;
}
td.field.last {
    border-bottom: 2px solid var(--bg-color-1);
    padding-bottom: var(--space);
    margin-bottom: var(--space-2xs);
}
thead td.field.last {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}
thead td.action {
    display: none;
}
@media screen and (min-width: 600px) {
    tr {
        margin: var(--space-xs) 0;
    }
    thead td.action {
        display: block;
    }
    td.field.last {
        border: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    td, td:not(.action) {
        text-align: left;
        padding: 0;
        grid-column: span 1;
    }
}

#navigation .menu-items {
    font-size: var(--font-size-s);
}





.card img {
    border-radius: 0.5rem;
}
.card {
    position: relative;
    overflow: hidden;
    background-color: var(--bg-color);
    border-radius: 0.5rem;
    box-shadow: 0 8px 15px rgba(0,0,0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
/*    border: 1px solid var(--bg-color-2);*/
    transition: box-shadow .25s ease-out;
}
.card:hover {
    box-shadow: 0 8px 15px rgba(0,0,0, 0.2);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.card hr {
    display: none;
}
.card img {
    border-radius: 0;
}
.card .content {
    margin: 0;
    padding: 1rem;
}
.card .meta {
    font-weight: bold;
}
@media (display-mode: standalone) {
    .card {
        border-radius: 0;
        box-shadow: none;
        border: none;
    }
    .card img {
        border-radius: 0.5rem;
        margin-bottom: var(--space-s);
    }
    .card hr {
        display: block;
    }
    .card .content {
        padding: 0;
    }
    .card .meta {
        margin-bottom: 1.5rem;
    }
    .card:last-child hr {
        display: none;
    }
}
.card .date {
    font-size: var(--font-size-s);
}
.container a.card {
    margin-bottom: var(--space-3xl);
}
a.card {
    display: block;
    color: var(--text-color);
}
.card .tags {
    margin-bottom: var(--space-s);
}
.card h2 {
    margin-top: 0rem;
}





/* misc */
.note {
    color: var(--text-color-2)
}
.lead {
    margin-bottom: var(--space);
}
.lead p {
    font-size: var(--font-size-l);
    line-height: var(--line-height);
    color: var(--text-color);
}

.icon {
    display: block;
    font-size: var(--font-size-4xl);
    margin: var(--space-xl) 0;
}

.segment {
    background: var(--bg-color-3);
    padding: var(--space-2xs) var(--space-xs);
    border-radius: 0.5rem;
    font-size: var(--font-size-xs);
    margin-bottom: var(--space);
    text-align: center;
}
.segment a {
    color: var(--text-color);
}
.segment a:hover {
    color: var(--color-1);
}

.container {
    position: relative;
    display: block;
    clear: both;
    max-width: var(--container);
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
}
.selection-off {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.separator::after {
    content: "...";
    font-size: var(--font-size-4xl);
    line-height: var(--line-height-xl);
    margin-top: 0;
    margin-bottom: var(--space);
    color: var(--text-color);
    display: block;
    text-align: center;
    letter-spacing: 5px;
}

.profile {
    border-radius: 50%;
    overflow: hidden;
    width: 4rem;
    height: 4rem;
    border: 2px solid #38B741;
}
.profile + * {
    margin-top: var(--space-2xs);
}
/* pwa */
@media (display-mode: standalone) {

    
    body > main {
        background-color: var(--bg-color);
        color: var(--text-color);
    }
    body > footer {
        background: var(--bg-color-1);
    }
    thead td.field {
        border: none;
    }
    tbody tr {
        background: var(--bg-color-1);
    }
    input, textarea, select {
        color: var(--text-color);
        background-color: var(--bg-color-1);
        border: 2px solid var(--bg-color-3);
    }
    
    .segment {
        background-color: var(--bg-color-1);
    }
    
    @media screen and (min-width: 600px) {
        body > header {
            position: relative;
        }
    }
}







:root {
    --scale: 1rem;
    --link-color: #5856D7;
    --button-background-color: #5856D7;
    --button-text-color: #fff;
    --hover-link-color: #AC4200;
    --selected-link-color: #F0782D;
    --active-link-color: #A64306;
    --primary-background-color: #fff;
    --secondary-background-color: #f5f5f5;
    --tooltip-background-color: #e8e8e8;
    --tooltip-border-color: #c0c0c0;
    --primary-text-color: #000;
    --secondary-text-color: #222;
    --border-color: #ddd;
    
}
@media (prefers-color-scheme: dark) {
    :root {
        --link-color: #7D7AFF;
        --button-background-color: #7D7AFF;
        --button-text-color: #fff;
        --hover-link-color: #FF924F;
        --selected-link-color: #AC4200;
        --active-link-color: #A64306;
        --primary-background-color: #000;
        --secondary-background-color: #1a1a1a;
        --tooltip-background-color: #e8e8e8;
        --tooltip-border-color: #333;
        --primary-text-color: #fff;
        --secondary-text-color: #ccc;
        --border-color: #222;
    }
}
* {
    margin: 0;
    padding: 0;
}
html {
    font-size: var(--scale);
}
.author-about {
    margin-bottom: 2rem;
}
.author-cta {
    padding: 1rem;
    background: var(--button-background-color);
    color: var(--button-text-color) !important;
    border-radius: 4px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 4px 10px rgba(0,0,0,0.22);
    transition: font-size 0.2s;
}
.author-cta:hover {
    font-size: 1.05rem;
}
#post-header img.author {
    float: right;
}
img.author {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #555;
}
body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Helvetica", "Segoe UI", Roboto, Ubuntu;
    font-size: 1.5rem;
    line-height: 2rem;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}
iframe {
    width: 510px;
    float: left;
    padding: 0;
    margin: 0 0 0 -8px;
}
a {
    text-decoration: none;
}
a:hover, a:active {
    cursor: pointer;
}
p a:link, p a:visited, a.source.github, #next-steps a {
    color: var(--link-color);
}
p a.selected, a.source.github.selected {
    color: var(--selected-link-color);
}
p a:hover, #next-steps a:hover {
    color: var(--hover-link-color);
}
p a:active, #next-steps a:active {
    color: var(--active-link-color);
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: var(--primary-text-color);
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: 600;
    color: var(--primary-text-color) !important;
}

img {
    width: 100%;
    height: auto;
}
p {
    color: var(--secondary-text-color);
    margin-top: 1.5rem;
    font-size: 1rem;
}
ol, ul {
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-left: 1rem;
}
li {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}
dt {
    font-weight: bold;
    margin: 0 0.75rem;
}
dd {
    margin-bottom: 1.5rem;
    padding: 0 0.75rem;
}
sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
blockquote {
    color: var(--primary-text-color);
    border-left: 8px solid var(--link-color);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 4px 10px rgba(0,0,0,0.22);
    background: var(--primary-background-color);
    font-family: Open Sans;
    font-style: italic;
    position: relative;
    padding: 3rem;
    margin: 3rem 0;
    border-radius: 4px;
}
blockquote::before {
    color: var(--link-color);
    font-family: Arial;
    font-style: italic;
    content: "\201C";
    position: absolute;
    font-size: 10rem;
    top: 40px;
    right: 28px;
}
hr {
    border: none;
    border-top: 1px solid var(--secondary-background-color);
    height: 1px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
footer {
    /* border-top: 1px solid var(--secondary-background-color); */
    text-align: center;
    padding: 2rem 0rem;
    margin-top: 2rem;
    font-size: 1rem;
    line-height: 2rem;
}
footer p {
    margin-top: 0;
}
footer img#logo-image {
    width: 80px;
    margin: 1em auto;
}
pre {
    font-size: 0.8rem;
    line-height: 1.25rem;
    background: var(--primary-background-color);
    padding: 1rem;
    margin: 2rem auto;
    border-radius: 4px;
    border: 1px solid var(--border-color);
}
pre code {
    text-shadow: none;
    font-family: monospace;
    display: block;
    overflow-x: auto;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
}
.source.github {
    color: var(--link-color);
}
p code, li code {
    font-family: monospace;
    font-weight: bold;
}
p code a, li code a {
    font-weight: normal;
}
li p {
    margin-top: 0;
}
p code a:hover, li code a:hover {
    color: var(--link-color);
    border-bottom: 1px solid var(--link-color);
}
p code a:after, li code a:after, a.source.github:after {
    display: inline-block;
    content: "";
    width: 12px;
    height: 12px;
    margin-left: 0.5em;
    margin-right: 0.25em;
    background: var(--link-color);
    mask-image: url('data:image/svg+xml;utf8,    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">    <path fill-rule="evenodd" clip-rule="evenodd"     d="M 7.5,10 13.6,3.7 14.2,2.9 14,3.7 V 7 h 2 V 0.5 L 15.5,0 H 9 v 2 h 3.3 L 13.1,1.8 12.3,2.4 6,8.5 Z"/>    <path fill-rule="evenodd" clip-rule="evenodd"     d="M 7,0 H 0.5 L 0,0.5 v 15 L 0.5,16 h 15 L 16,15.5 V 9 h -2 v 5 H 2 V 2 h 5 z"/>    </svg>');
    mask-size: 100% 100%;
    -webkit-mask-image: url('data:image/svg+xml;utf8,    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">    <path fill-rule="evenodd" clip-rule="evenodd"     d="M 7.5,10 13.6,3.7 14.2,2.9 14,3.7 V 7 h 2 V 0.5 L 15.5,0 H 9 v 2 h 3.3 L 13.1,1.8 12.3,2.4 6,8.5 Z"/>    <path fill-rule="evenodd" clip-rule="evenodd"     d="M 7,0 H 0.5 L 0,0.5 v 15 L 0.5,16 h 15 L 16,15.5 V 9 h -2 v 5 H 2 V 2 h 5 z"/>    </svg>');
    -webkit-mask-size: 100% 100%;
}
figure, picture, img {
    line-height: 0;
}
figure picture img {
    width: 100%;
}
time {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: bold;
    color: var(--link-color);
    font-size: 0.8rem;
}
a.button {
    display: inline-block;
    background: var(--link-color);
    padding: 8px 32px;
    margin: 1.5rem auto;
    border-radius: 8px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 4px 10px rgba(0,0,0,0.22);
    font-size: 1rem;
    color: #fff;
}
a.button:hover {
    background: var(--hover-link-color);
}
pre.snippet {
    /* Margin is added to a.source.github underneath */
    margin-bottom: 0 !important;
}
a.source.github::before {
    content: 'Source: ';
    font-weight: bold;
}
a.source.github {
    font-size: 1rem;
    margin-bottom: 2rem;
}
pre code a {
    text-decoration: underline !important;
}
.content-wrapper {
    max-width: 640px;
    margin: 0 auto;
    padding: 0 1rem;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
.meta {
    margin-top: 0.5rem;
}
.meta .tag {
    text-shadow: 0px 1px 0px #222;
    background: var(--link-color);
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.8rem;
}
#post-header {
    margin-bottom: 2rem;
}
#contents {
    margin: 1rem auto;
}
#logo-image {
    width: 150px;
}
#posts header {
    text-align: center;
    margin-bottom: 4rem;
}

#posts .post {
    overflow: hidden;
    margin-bottom: 3rem;
}
#posts h2, #posts p {
    margin-top: 0;
}

#about-author {
    text-align: center;
    margin-top: 2rem;
    padding: 2rem 4rem 0 4rem;
    font-size: 1rem;
    line-height: 2rem;
}
#about-author h4 {
    margin-top: 0;
}
footer img#logo-image {
    width: 80px;
    margin: 1em auto;
}
.tooltips {
    position: fixed;
    z-index: 2;
}
.tooltips div {
    position: fixed;
    display: block;
    pointer-events: none;

    opacity: 0;
    margin-top: 0;
    margin-left: -1rem;

    background-color: var(--secondary-background-color);
    border: 2px solid var(--tooltip-border-color);

    padding: 1rem;
    margin-top: 0.25rem;
    border-radius: 0.5rem;
    width: 30rem;
}

.tooltips div pre {
    margin: 0;
    padding: 0.5rem;
}

.tooltips div p {
    line-height: 1.4em;
    margin: 1rem 0.5rem 0 0.5rem;
}

.tooltips .visible {
    opacity: 1;
    z-index: 3;
}

ul#next-steps {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding: 2rem 4rem;
    margin: 0 auto;
    max-width: 800pt;
}

ul#next-steps li {
    list-style: none;
}

#next-steps li {
    display: flex;
    flex-direction: column;
}

img.small {
    width: 32px;
}
img.large {
    width: 128px;
}
img.rounded {
    border-radius: 50%;
}


aside#toc ul {
    margin: 0;
    padding: 0;
}

.article-with-toc {
    position: relative;
    display: block;
}
.article-with-toc article {
    max-width: 600px;
    margin: 0 auto;
}
@media screen and (min-width: 900px) {
    .article-with-toc {
        display: grid;
        grid-column-gap: 16px;
        grid-template-columns: 1fr auto;
    }
    
    .article-with-toc > div > aside {
        position: -webkit-sticky;
        position: sticky;
        top: 16px;
        background: var(--bg-color-3);
        border-radius: 16px;
        padding: 16px 32px;
    }
    .article-with-toc > div > aside h4 {
        margin-top: 0px;
    }
    .article-with-toc > div > aside li a {
        color: var(--text-color-2);
    }
    .article-with-toc > div > aside li a:hover {
        color: var(--text-color-1);
    }
}

.card {
    padding: 16px;
}
span.featured {
    background: var(--color);
    background: orange;
    color: var(--white-color);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    padding: 0px 10px;
    border-radius: 8px;
    position: absolute;
    top: 4px;
    right: 4px;
}

.author-list .name {
    font-size: 14px;
/*    display: none;*/
/*    visibility: hidden;*/
}
.tag-list a small {
    font-size: 12px;
    background: var(--color);
    color: var(--white-color);
    text-transform: uppercase;
    font-weight: bold;
    padding: 4px 10px;
    border-radius: 4px;
}
