<div class="card member">
    {{#imageUrl}}<img src="{{imageUrl}}" alt="{{title}}" class="large rounded">{{/imageUrl}}
    <h3><a href="{{permalink}}">{{title}}</a></h3>
    <p>{{description}}</p>
</div>
