<div class="post card">
    <a href="{{permalink}}" target="">
    {{#featured}}<span class="featured">featured</span>{{/featured}}
        <div class="content">
            <time datetime="{{publication}}">{{publication}}</time>
            <h2 class="title">{{title}}</h2>
            <hr>
            <div class="authors">
                {{#authors}}
                <a href="{{permalink}}">
                    
                    <div class="authorBadge">
                        <div class="mini">{{#imageUrl}}<img src="{{imageUrl}}" alt="{{title}}">{{/imageUrl}}</div>
                        <span class="name">{{title}}</span>
                    </div>
                </a>
                {{/authors}}
            </div>
        <p>{{description}}</p>
        <div class="tags">
            {{#tags}}
                <a class="tag" href="{{permalink}}">{{title}}</a>
            {{/tags}}
        </div>
        </div>
    </a>
</div>