<div class="card post">
    {{#featured}}
    <span class="featured">featured</span>
    {{/featured}}
    <div class="author-list">
        {{#authors}}
            <a href="{{permalink}}">
            {{#imageUrl}}<img class="small rounded" src="{{imageUrl}}" alt="{{title}}">{{/imageUrl}}
            </a>
        {{/authors}}
    </div>

    <div class="meta">
        <time datetime="{{publication.html}}">{{publication.html}}</time>
        {{#readingTime}} &middot; <span class="reading-time">{{readingTime}} min read</span>{{/readingTime}}
    </div>
    
    <h3><a href="{{permalink}}">{{title}}</a></h3>
    <p>{{description}}</p>
    
    
    <div class="tag-list">
        {{#tags}}
            <a href="{{permalink}}"><small>{{title}}</small></a>
        {{/tags}}
    </div>
</div>
