<!DOCTYPE html>
<html {{#site.language}}lang="{{.}}"{{/site.language}}>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{page.metadata.title}} - {{site.title}}</title>
    <meta name="description" content="{{page.metadata.description}}">
    
    <meta property="og:url" content="{{page.metadata.permalink}}">
    <meta property="og:title" content="{{page.metadata.title}} - {{site.title}}">
    <meta property="og:description" content="{{page.metadata.description}}">
    {{#page.metadata.imageUrl}}
    <meta property="og:image" content="{{.}}" />
    {{/page.metadata.imageUrl}}

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{page.metadata.title}} - {{site.title}}">
    <meta name="twitter:description" content="{{page.metadata.description}}">
    {{#page.metadata.imageUrl}}
    <meta name="twitter:image" content="{{.}}">
    {{/page.metadata.imageUrl}}
    
    <link rel="stylesheet" href="{{site.baseUrl}}css/styles.css">
    <link rel="stylesheet" href="{{site.baseUrl}}css/syntax.css">

    {{> _partials.icons}}

</head>

<body>
    {{> _partials.navigation}}
        
    <main>
    {{$main}}
        <p>No content.</p>
    {{/main}}
    </main>

    {{> _partials.footer}}
</body>
  <script src="{{site.baseUrl}}js/favicon.js"></script>
  <script src="{{site.baseUrl}}js/copyright.js"></script>
</html>
