<div class="post card">
    <a href="{{permalink}}" target="">
        {{> blocks.figure}}
        <section>
            <time datetime="{{date}}">{{date}}</time>
            <h2 class="title">{{title}}</h2>
        </section>
        <p>{{excerpt}}</p>
    </a>

    
    {{#authors}}
        <div class="mini">
        {{> blocks.figure}}
        </div>
    {{/authors}}
    
    {{#tags}}
        {{title}}{{^last()}}, {{/last()}}
    {{/tags}}

</div>
