:root {
    --scale: 1rem;
    --link-color: #5856D7;
    --button-background-color: #5856D7;
    --button-text-color: #fff;
    --hover-link-color: #AC4200;
    --selected-link-color: #F0782D;
    --active-link-color: #A64306;
    --primary-background-color: #fff;
    --secondary-background-color: #f5f5f5;
    --tooltip-background-color: #e8e8e8;
    --tooltip-border-color: #c0c0c0;
    --primary-text-color: #000;
    --secondary-text-color: #222;
    --border-color: #ddd;
    
}
@media (prefers-color-scheme: dark) {
    :root {
        --link-color: #7D7AFF;
        --button-background-color: #7D7AFF;
        --button-text-color: #fff;
        --hover-link-color: #FF924F;
        --selected-link-color: #AC4200;
        --active-link-color: #A64306;
        --primary-background-color: #000;
        --secondary-background-color: #1a1a1a;
        --primary-text-color: #fff;
        --secondary-text-color: #ccc;
        --border-color: #222;
    }
}
* {
    margin: 0;
    padding: 0;
}
html {
    font-size: var(--scale);
}
.author-about {
    margin-bottom: 2rem;
}
.author-cta {
    padding: 1rem;
    background: var(--button-background-color);
    color: var(--button-text-color) !important;
    border-radius: 4px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 4px 10px rgba(0,0,0,0.22);
    transition: font-size 0.2s;
}
.author-cta:hover {
    font-size: 1.05rem;
}
#post-header img.author {
    float: right;
}
img.author {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #555;
}
body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Helvetica", "Segoe UI", Roboto, Ubuntu;
    font-size: 1.5rem;
    line-height: 2rem;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}
iframe {
    width: 510px;
    float: left;
    padding: 0;
    margin: 0 0 0 -8px;
}
a {
    text-decoration: none;
}
a:hover, a:active {
    cursor: pointer;
}
p a:link, p a:visited, a.source.github, #next-steps a {
    color: var(--link-color);
}
p a.selected, a.source.github.selected {
    color: var(--selected-link-color);
}
p a:hover, #next-steps a:hover {
    color: var(--hover-link-color);
}
p a:active, #next-steps a:active {
    color: var(--active-link-color);
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: var(--primary-text-color);
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: 600;
    color: var(--primary-text-color) !important;
}
h1 {
    font-size: 2.5rem;
    line-height: 3rem;
}
h2 {
    font-size: 1.75rem;
    line-height: 2.5rem;
    margin-top: 1.5rem;
}
h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 1.5rem;
}
h4 {
    font-size: 1.25rem;
    line-height: 1.75;
}
h5 {
    font-size: 1.125rem;
    line-height: 1.625rem;
}
h6 {
    font-size: 1rem;
    line-height: 1.5rem;
}
img {
    width: 100%;
    height: auto;
}
p {
    color: var(--secondary-text-color);
    margin-top: 1.5rem;
    font-size: 1rem;
}
ol, ul {
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-left: 1rem;
}
li {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}
dt {
    font-weight: bold;
    margin: 0 0.75rem;
}
dd {
    margin-bottom: 1.5rem;
    padding: 0 0.75rem;
}
sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
blockquote {
    color: var(--primary-text-color);
    border-left: 8px solid var(--link-color);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 4px 10px rgba(0,0,0,0.22);
    background: var(--primary-background-color);
    font-family: Open Sans;
    font-style: italic;
    position: relative;
    padding: 3rem;
    margin: 3rem 0;
    border-radius: 4px;
}
blockquote::before {
    color: var(--link-color);
    font-family: Arial;
    font-style: italic;
    content: "\201C";
    position: absolute;
    font-size: 10rem;
    top: 40px;
    right: 28px;
}
hr {
    border: none;
    border-top: 1px solid var(--secondary-background-color);
    height: 1px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
footer {
    /* border-top: 1px solid var(--secondary-background-color); */
    text-align: center;
    padding: 2rem 0rem;
    margin-top: 2rem;
    font-size: 1rem;
    line-height: 2rem;
}
footer p {
    margin-top: 0;
}
footer img#logo-image {
    width: 80px;
    margin: 1em auto;
}
pre {
    font-size: 0.8rem;
    line-height: 1.25rem;
    background: var(--primary-background-color);
    padding: 1rem;
    margin: 2rem auto;
    border-radius: 4px;
    border: 1px solid var(--border-color);
}
pre code {
    text-shadow: none;
    font-family: monospace;
    display: block;
    overflow-x: auto;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
}
.source.github {
    color: var(--link-color);
}
p code, li code {
    font-family: monospace;
    font-weight: bold;
}
p code a, li code a {
    font-weight: normal;
}
li p {
    margin-top: 0;
}
p code a:hover, li code a:hover {
    color: var(--link-color);
    border-bottom: 1px solid var(--link-color);
}
p code a:after, li code a:after, a.source.github:after {
    display: inline-block;
    content: "";
    width: 12px;
    height: 12px;
    margin-left: 0.5em;
    margin-right: 0.25em;
    background: var(--link-color);
    mask-image: url('data:image/svg+xml;utf8,    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">    <path fill-rule="evenodd" clip-rule="evenodd"     d="M 7.5,10 13.6,3.7 14.2,2.9 14,3.7 V 7 h 2 V 0.5 L 15.5,0 H 9 v 2 h 3.3 L 13.1,1.8 12.3,2.4 6,8.5 Z"/>    <path fill-rule="evenodd" clip-rule="evenodd"     d="M 7,0 H 0.5 L 0,0.5 v 15 L 0.5,16 h 15 L 16,15.5 V 9 h -2 v 5 H 2 V 2 h 5 z"/>    </svg>');
    mask-size: 100% 100%;
    -webkit-mask-image: url('data:image/svg+xml;utf8,    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">    <path fill-rule="evenodd" clip-rule="evenodd"     d="M 7.5,10 13.6,3.7 14.2,2.9 14,3.7 V 7 h 2 V 0.5 L 15.5,0 H 9 v 2 h 3.3 L 13.1,1.8 12.3,2.4 6,8.5 Z"/>    <path fill-rule="evenodd" clip-rule="evenodd"     d="M 7,0 H 0.5 L 0,0.5 v 15 L 0.5,16 h 15 L 16,15.5 V 9 h -2 v 5 H 2 V 2 h 5 z"/>    </svg>');
    -webkit-mask-size: 100% 100%;
}
figure, picture, img {
    line-height: 0;
}
figure picture img {
    width: 100%;
}
time {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: bold;
    color: var(--link-color);
    font-size: 0.8rem;
}
a.button {
    display: inline-block;
    background: var(--link-color);
    padding: 8px 32px;
    margin: 1.5rem auto;
    border-radius: 8px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 4px 10px rgba(0,0,0,0.22);
    font-size: 1rem;
    color: #fff;
}
a.button:hover {
    background: var(--hover-link-color);
}
pre.snippet {
    /* Margin is added to a.source.github underneath */
    margin-bottom: 0 !important;
}
a.source.github::before {
    content: 'Source: ';
    font-weight: bold;
}
a.source.github {
    font-size: 1rem;
    margin-bottom: 2rem;
}
pre code a {
    text-decoration: underline !important;
}
.content-wrapper {
    max-width: 640px;
    margin: 0 auto;
    padding: 0 1rem;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
#page-header {
    text-align: center;
    padding: 1rem;
    /* border-bottom: 1px solid var(--secondary-background-color); */
    /* margin-bottom: 2rem; */
}
.meta {
    margin-top: 0.5rem;
}
.meta .tag {
    text-shadow: 0px 1px 0px #222;
    background: var(--link-color);
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.8rem;
}
#post-header {
    margin-bottom: 2rem;
}
#contents {
    margin: 1rem auto;
}
#logo-image {
    width: 150px;
}
#posts header {
    text-align: center;
    margin-bottom: 4rem;
}

#posts .post {
    overflow: hidden;
    margin-bottom: 3rem;
}
#posts h2, #posts p {
    margin-top: 0;
}

#about-author {
    text-align: center;
    margin-top: 2rem;
    padding: 2rem 4rem 0 4rem;
    font-size: 1rem;
    line-height: 2rem;
}
#about-author h4 {
    margin-top: 0;
}
footer img#logo-image {
    width: 80px;
    margin: 1em auto;
}
.tooltips {
    position: fixed;
    z-index: 2;
}
.tooltips div {
    position: fixed;
    display: block;
    pointer-events: none;

    opacity: 0;
    margin-top: 0;
    margin-left: -1rem;

    background-color: var(--secondary-background-color);
    border: 2px solid var(--tooltip-background-color);

    padding: 1rem;
    margin-top: 0.25rem;
    border-radius: 0.5rem;
    width: 30rem;
}

.tooltips div pre {
    margin: 0;
    padding: 0.5rem;
}

.tooltips div p {
    line-height: 1.4em;
    margin: 1rem 0.5rem 0 0.5rem;
}

.tooltips .visible {
    opacity: 1;
    z-index: 3;
}

ul#next-steps {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding: 2rem 4rem;
    margin: 0 auto;
    max-width: 800pt;
}

ul#next-steps li {
    list-style: none;
}

#next-steps li {
    display: flex;
    flex-direction: column;
}
