pre code {
    color: #0B4F79;
}
pre code .xk {
    color: #9B2393;
}
pre code .xt {
    color: #3900A0;
}
pre code .xv {
    color: #6C36A9;
}
pre code .xn {
    color: #1C00CF;
}
pre code .xs {
    color: #C41A16;
}
pre code .xc, pre code .xd {
    color: #5D6C79;
}
pre code .xr {
    color: #643820;
}
@media (prefers-color-scheme: dark) {
    pre code {
        color: #ccc;
    }
    pre code .xk {
        color: #e73289;
    }
    pre code .xt {
        color: #4fb1cb;
    }
    pre code .xv {
        color: #67B7A4;
    }
    pre code .xn {
        color: #D0BF69;
    }
    pre code .xs {
        color: #FC6aA5D;
    }
    pre code .xc, pre code .xd {
        color: #7f8c99;
    }
    pre code .xr {
        color: #FD8F3F;
    }
}
