{{<index}}
{{$main}}
<div id="tags">
    <section class="innerSection sectionPrimary">
        <header class="tagsTitle content-wrapper">
            <h1>{{page.metadata.title}}</h1>
            <p>{{page.metadata.description}}</p>
        </header>
    </section>
    {{#empty(page.context.tags)}}
    Empty.
    {{/empty(page.context.tags)}}
    {{^empty(page.context.tags)}}
    <section class="innerSection sectionSecondary">
        <div class="tagsContainer wrapper">
            {{#page.context.tags}}
                {{> blog.blocks.tag}}
            {{/page.context.tags}}
        </div>
    </section>
    {{/empty(page.context.tags)}}
</div>
{{/main}}
{{/index}}
