{{<index}}
{{$main}}

{{#page.context.post}}
<article>
    <header>
        <section id="post-header" class="content-wrapper">
                <h1 class="title">{{title}}</h1>
                <p class="excerpt">{{excerpt}}</p>
            <div class="data">
                {{#authors}}
                        <a class="authorBadge" href="{{permalink}}">
                            <div class="midi">
                            {{> _partials.figure}}
                            </div>
                            <div>{{title}}</div>
                        </a>
                {{/authors}}
                    <div class="times">
                        <time datetime="{{date}}">{{date}}</time>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                            <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
                        </svg>                        
                        <p class="readingTime">{{readingTime}} min read</p>
                    </div>
            </div>
            </section>
        
            {{#figure}}
                {{> _partials.figure}}
            {{/figure}}
            </header>

        <section id="contents" class="content-wrapper">
    
    {{& page.content}}
        
                {{#empty(tags)}}
                {{/empty(tags)}}
                {{^empty(tags)}}
                <div class="meta">
                {{#tags}}
                    {{> _partials.postTag}}
                {{/tags}}
                </div>
                {{/empty(tags)}}
    </section>
</article>
    
    <div class="content-wrapper">
            {{^page.context.next}}
            {{/page.context.next}}
            {{#page.context.next}}
                <h2 class="morePostsTitle">Next post</h2>
                {{> _partials.relatedPost}}
            {{/page.context.next}}

            {{^page.context.prev}}
            {{/page.context.prev}}
            {{#page.context.prev}}
                <h2 class="morePostsTitle">Previous post</h2>
                {{> _partials.relatedPost}}
            {{/page.context.prev}}
        
    </div>
    
    <div class="content-wrapper ">
    <h2 class="morePostsTitle">Related posts</h2>
    {{#empty(page.context.related)}}
    Empty.
    {{/empty(page.context.related)}}
    {{^empty(page.context.related)}}
    {{#page.context.related}}
        {{> _partials.relatedPost}}
    {{/page.context.related}}
    {{/empty(page.context.related)}}
    </div>
    <div class="content-wrapper ">
    <h2 class="morePostsTitle">More posts by the author(s)</h2>
    {{#empty(page.context.moreByAuthor)}}
    Empty.
    {{/empty(page.context.moreByAuthor)}}
    {{^empty(page.context.moreByAuthor)}}
    {{#page.context.moreByAuthor}}
        {{> _partials.relatedPost}}
    {{/page.context.moreByAuthor}}
    {{/empty(page.context.moreByAuthor)}}
    </div>
{{/page.context.post}}

{{/main}}
{{/index}}
