{{<index}}

{{$main}}

<div id="posts">
    {{#page.context.tag}}
    <header class="header content-wrapper">
        <div class="profile-picture">
            {{#imageUrl}}<img src="{{imageUrl}}" alt="{{title}}">{{/imageUrl}}
        </div>
        <h1>{{title}}</h1>
        <p class="description">{{description}}</p>
    </header>
    <section class="innerSection sectionSecondary">    
        <div class="content-wrapper">
            <p class="postCounter">{{title}} - {{numberOfPosts}} posts</p>
                {{/page.context.tag}}
            
            
                {{& page.content}}
                
                
                {{#empty(page.context.posts)}}
                Empty.
                {{/empty(page.context.posts)}}
                {{^empty(page.context.posts)}}
                <div>
                {{#page.context.posts}}
            {{> _partials.relatedPost}}
                {{/page.context.posts}}
                </div>
                {{/empty(page.context.posts)}}
        </div>
</section>  
</div>

{{/main}}

{{/index}}
