{{<html}}
{{$main}}

<div id="author-page" class="content wrapper">
    {{#context.author}}
    <header>
        {{#imageUrl}}<img class="large rounded" src="{{imageUrl}}" alt="{{title}}">{{/imageUrl}}
        <br><br>
        <h1>{{title}}</h1>
        <hr>
        <p>{{description}}</p>
        <p>{{numberOfPosts}} posts</p>
    </header>
    {{/context.author}}
    
    {{page}}
    {{& content}}

    -----------------
    {{#empty(context.posts)}}
    Empty.
    {{/empty(context.posts)}}
    {{^empty(context.posts)}}
    <div class="grid grid-321">
    {{#context.posts}}
        {{> blog.blocks.post}}
    {{/context.posts}}
    </div>
    {{/empty(context.posts)}}
    
</div>

{{/main}}
{{/html}}
