{{<html}}
{{$main}}

<div id="tag">
    {{#context.tag}}
    <header>
        {{#imageUrl}}<img class="medium" src="{{imageUrl}}" alt="{{title}}">{{/imageUrl}}
        <h1>{{title}}</h1>
        <hr>
        <p>{{description}}</p>
        <p>{{numberOfPosts}} posts</p>
    </header>
    {{/context.tag}}


    {{& content}}
    
    {{#empty(context.posts)}}
    Empty.
    {{/empty(context.posts)}}
    {{^empty(context.posts)}}
    <div class="grid grid-321">
    {{#context.posts}}
        {{> blog.blocks.post}}
    {{/context.posts}}
    </div>
    {{/empty(context.posts)}}
</div>

{{/main}}
{{/html}}
