{{<html}}
{{$main}}


<div class="centered">

    <picture id="main-logo">
        <source
            srcset="./images/logos/logo~dark.png"
            media="(prefers-color-scheme: dark)"
            >
        <img
            src="./images/logos/logo.png"
            alt="Logo of Toucan"
            title="Toucan"
            >
    </picture>

    <div class="small-wrapper">
        <h1>toucan</h1>
        <h2>The Markdown-based <br>static site generator <br>written in Swift</h2>
        <p>&nbsp;</p>
        <p>Elevate your websites with Toucan, the brand new static site generator that turns Markdown into beautifully crafted sites using customizable themes.</p>
        <p> And the best part? You can host it for free on GitHub Pages!</p>
    </div>

</div>

<div class="grid grid-421">
    
    <div class="feature markdown">
        <img src="./images/features/feature-markdown.png">
        <h3>Markdown-based</h3>
        
        <p>Markdown is the perfect content writing tool because of its simplicity, readability, and lightweight nature.</p>
    </div>

    <div class="feature swift">
        <img src="./images/features/feature-swift.png">
        <h3>Built with Swift</h3>
        <p>Swift’s modern design and speed enable our generator to create fast, reliable, and secure static sites.</p>
    </div>
    
    <div class="feature themes">
        <img src="./images/features/feature-themes.png">
        <h3>Premium themes<a href="#coming-soon">***</a></h3>
        <p>Explore premium themes and find the one that will fit your needs and elevates your prupose to the next level.</p>
    </div>
    
    <div class="feature hosting">
        <img src="./images/features/feature-github.png">
        <h3>No hosting fees</h3>
        <p>By using GitHub's robust infrastructure, you can effortlessly deploy and manage your websites with zero hosting fees</p>
    </div>
    
</div>

<div class="centered">
    <div class="small-wrapper">
    <h2>Toucan is Open Source</h2>
    <p>We’re passionate about open-source, and that’s why <br>Toucan is free on GitHub — forever. </p>
    <p>As we gear up for a fall release, your feedback is invaluable in helping us perfect our static site generator for a cutting-edge web experience.</p>
    <p>⭐️</p>
    <a class="cta" href="http://github.com/binarybirds/toucan/tree/dev/">GitHub repository</a>
    <p>Please, remember to give us a star.</p>
    <p>🙏</p>
    </div>
</div>

<div class="centered">
    <a id="coming-soon">
    <p><a href="#coming-soon">***</a>Premium themes are coming soon.</p>
</div>

{{/main}}
{{/html}}
