<div class="card author">
    {{#imageUrl}}<a href="{{permalink}}"><img class="large rounded" src="{{imageUrl}}" alt="{{title}}"></a>{{/imageUrl}}
    <h2><a href="{{permalink}}">{{title}}</a></h2>
    <p>{{count(posts)}} posts</p>
</div>
