{{<html}}
{{$main}}
<div class="page-wrapper">

{{& page.content}}

<h2>Podcast episodes</h2>
{{#empty(page.context.posts)}}
Empty.
{{/empty(page.context.posts)}}
{{^empty(page.context.posts)}}
<div class="grid grid-1">
{{#page.context.posts}}
    {{> blog.blocks.post}}
{{/page.context.posts}}
</div>
{{/empty(page.context.posts)}}


{{#empty(page.context.pagination)}}
{{/empty(page.context.pagination)}}
{{^empty(page.context.pagination)}}
<div class="pagination">
{{#page.context.pagination}}
    {{> blocks.pagination}}
{{/page.context.pagination}}
</div>
{{/empty(page.context.pagination)}}

</div>
{{/main}}
{{/html}}
