<footer id="site-footer">
    <div class="grid grid-421">

        <figure>
            <picture>
                <source
                    srcset="{{site.baseUrl}}images/logos/logo~dark.png"
                    media="(prefers-color-scheme: dark)"
                >
                <img
                    id="logo-image"
                    src="{{site.baseUrl}}images/logos/logo.png"
                    alt="Logo of {{site.title}}"
                    title="{{site.title}}"
                >
            </picture>
        </figure>
        
        <div>
            <span style="display: block; height: 32px;">&nbsp;</span>
            <h4>Swift on server</h4>
            <p><small><a href="https://swiftonserver.com/" target="_blank">swiftonserver.com</a></small></p>
            <ul>
                <li><a href="https://github.com/swift-on-server/" target="_blank">GitHub</a></li>
                <li><a href="https://mastodon.social/@swiftonserver/" target="_blank">Mastodon</a></li>
                <li><a href="{{site.baseUrl}}rss.xml" target="_blank">RSS</a></li>
                <li><a href="{{site.baseUrl}}sitemap.xml" target="_blank">Sitemap</a></li>
            </ul>
        </div>
        
        <div>
            <a href="{{site.baseUrl}}authors/joannis-orlandos/">
            <img class="small rounded" src="{{site.baseUrl}}assets/authors/joannis-orlandos/joannis-orlandos.jpeg" alt="Joannis Orlandos">
            </a>
            <h4><a href="{{site.baseUrl}}authors/joannis-orlandos/">Joannis Orlandos</a></h4>
            <p><small><a href="https://unbeatable.software/" target="_blank">Unbeatable Software B.V.</a></small></p>
            <ul>
                <li><a href="mailto:hello@unbeatable.software" target="_blank">Email</a></li>
                <li><a href="https://github.com/Joannis" target="_blank">GitHub</a></li>
                <li><a href="https://x.com/JoannisOrlandos" target="_blank">X (Twitter)</a></li>
                <li><a href="https://mastodon.social/@joannis@fosstodon.org" target="_blank">Mastodon</a></li>
            </ul>
        </div>
        
        <div>
            <a href="{{site.baseUrl}}authors/tibor-bodecs/">
            <img class="small rounded" src="{{site.baseUrl}}assets/authors/tibor-bodecs/tibor-bodecs.jpeg" alt="Tibor Bödecs">
            </a>
            <h4><a href="{{site.baseUrl}}authors/tibor-bodecs/">Tibor Bödecs</a></h4>
            <p><small><a href="https://binarybirds.com/" target="_blank">Binary Birds Kft.</a></small></p>
            <ul>
                <li><a href="mailto:mail.tib@gmail.com" target="_blank">Email</a></li>
                <li><a href="https://github.com/tib/" target="_blank">GitHub</a></li>
                <li><a href="https://x.com/tiborbodecs" target="_blank">X (Twitter)</a></li>
                <li><a href="https://mastodon.social/@tiborbodecs" target="_blank">Mastodon</a></li>
            </ul>
        </div>
        
    </div>
    
    <section class="grid grid-221">
        <small>{{site.title}} &copy; 2022 - {{year}}</small>
        <small>This site was generated using <a href="https://swift.org/" target="_blank">Swift</a> & <a href="https://github.com/binarybirds/toucan" target="_blank">Toucan</a>.</small>
    </section>
</footer>
