{{<index}}
{{$main}}
<div class="content-with-sidebars">
    <div class="left">
        {{> docs.blocks.nav}}
    </div>
    <div class="center">
        <article>
            <a href="/docs/">Docs home</a>
            {{& page.content}}
        
            <h4>Guides</h4>
            {{#page.context.category.guides}}
                <li>
                    <a href="{{permalink}}">{{title}}</a>
                </li>
            {{/page.context.category.guides}}

        </article>
    </div>
    <div class="right">
        {{> docs.blocks.toc}}
    </div>
</div>
{{/main}}
{{/index}}
