{{<index}}
{{$main}}
<div class="content-with-sidebars">
    <div class="left">
        {{> docs.blocks.nav}}
    </div>
    <div class="center">
        <article>
            {{#page.context.guide.category}}
            <a href="{{permalink}}">{{title}}</a>
            {{/page.context.guide.category}}
            {{& page.content}}

        
            <div class="">
                {{^page.context.guide.prev}}
                {{/page.context.guide.prev}}
                {{#page.context.guide.prev}}
                    Prev: <br>
                    {{category.title}}<br>
                    <a href="{{permalink}}">{{title}}</a>
                {{/page.context.guide.prev}}
                <br>
                <br>
                {{^page.context.guide.next}}
                {{/page.context.guide.next}}
                {{#page.context.guide.next}}
                    Next: <br>
                    {{category.title}}<br>
                    <a href="{{permalink}}">{{title}}</a>
                {{/page.context.guide.next}}

            </div>
        </article>
    </div>
    <div class="right">
        {{> docs.blocks.toc}}
    </div>
</div>
{{/main}}
{{/index}}
