{{<index}}
{{$main}}

<aside>
<h2>Docs</h2>
{{#empty(page.context.categories)}}
Empty.
{{/empty(page.context.categories)}}
{{^empty(page.context.categories)}}
<div>
<ul>
{{#page.context.categories}}
    <li>
        <a href="{{permalink}}">{{title}}</a>
        <ul>
        {{#guides}}
            <li><a href="{{permalink}}">{{title}}</a></li>
        {{/guides}}
        </ul>
    </li>
{{/page.context.categories}}
</ul>
</div>
{{/empty(page.context.categories)}}
</aside>

<article>
{{page.context.guide.category.title}}
{{& page.content}}
</article>

<div class="content-wrapper">
    {{^page.context.guide.next}}
    {{/page.context.guide.next}}
    {{#page.context.guide.next}}
        Next: <a href="{{permalink}}">{{title}}</a>
    {{/page.context.guide.next}}

    {{^page.context.guide.prev}}
    {{/page.context.guide.prev}}
    {{#page.context.guide.prev}}
        Prev: <a href="{{permalink}}">{{title}}</a>
    {{/page.context.guide.prev}}
</div>

{{/main}}
{{/index}}
