{{<index}}

{{$main}}
<div id="authors" class="wrapper">
    <header>
        <h1>{{metadata.title}}</h1>
        <p>{{metadata.description}}</p>
    </header>

    {{#empty(content.authors)}}
    Empty.
    {{/empty(content.authors)}}
    {{^empty(content.authors)}}
    <div class="grid">
    {{#content.authors}}
        {{> _partials.author}}
    {{/content.authors}}
    </div>
    {{/empty(content.authors)}}
    
</div>
{{/main}}

{{/index}}
