{{<index}}

{{$main}}
<div id="posts" class="wrapper">
    <header>
        <h1>Authors</h1>
        <p>Description</p>
        <br>
        <a href="mailto:binarybirdsofficial@gmail.com">Contact us</a>
    </header>

    <div class="grid">
    {{#content.authors.elements}}
        {{> _partials.author}}
    {{/content.authors.elements}}
    </div>
</div>
{{/main}}

{{/index}}
