{{<index}}

{{$main}}
<div id="posts" class="wrapper">
    <header>
        <h1>{{site.name}}</h1>
        <p>{{site.tagline}}</p>
        <br>
        <a href="mailto:binarybirdsofficial@gmail.com">Contact us</a>
    </header>

    <div class="grid">
    {{#contents}}
        {{> _partials.post}}
    {{/contents}}
    </div>
</div>
{{/main}}

{{/index}}
