{{<index}}

{{$main}}
<div id="posts" class="wrapper">
    <header>
        <h1>{{metadata.title}}</h1>
        <p>{{metadata.description}}</p>
        <br>
        <a href="{{userDefined.ctaUrl}}">{{userDefined.ctaLabel}}</a>
    </header>
    
    {{#content.posts.hasElements}}
    <div class="grid">
    {{#content.posts.elements}}
        {{> _partials.post}}
    {{/content.posts.elements}}
    </div>
    {{/content.posts.hasElements}}
    {{^content.posts.hasElements}}
    Empty.
    {{/content.posts.hasElements}}

</div>
{{/main}}

{{/index}}
