{{<index}}

{{$main}}
<div id="home" class="wrapper">
    <header>
        <h1>{{metadata.title}}</h1>
        <p>{{metadata.description}}</p>
        <br>
        <a href="{{userDefined.ctaUrl}}">{{userDefined.ctaLabel}}</a>
    </header>
    
    
    {{#empty(content.posts)}}
    Empty.
    {{/empty(content.posts)}}
    {{^empty(content.posts)}}
    {{#content.posts}}
        {{> _partials.post}}
    {{/content.posts}}
    {{/empty(content.posts)}}

</div>
{{/main}}

{{/index}}
