{{<index}}

{{$main}}
<div id="posts" class="wrapper">
    <header>
        <h1>{{metadata.title}}</h1>
        <p>{{metadata.description}}</p>
    </header>

    {{#empty(content.posts)}}
    Empty.
    {{/empty(content.posts)}}
    {{^empty(content.posts)}}
    <div class="grid">
    {{#content.posts}}
        {{> _partials.post}}
    {{/content.posts}}
    </div>
    {{/empty(content.posts)}}
    
    {{#empty(content.pagination)}}
    {{/empty(content.pagination)}}
    {{^empty(content.pagination)}}
    <div class="pagination">
    {{#content.pagination}}
        {{> _partials.pagination}}
    {{/content.pagination}}
    </div>
    {{/empty(content.pagination)}}

</div>
{{/main}}

{{/index}}
