{{<index}}

{{$main}}
<div id="posts" class="wrapper">
    <header>
        <h1>Posts</h1>
        <p>description</p>
    </header>

{{#content.posts.hasElements}}
    <div class="grid">
    {{#content.posts.elements}}
        {{> _partials.post}}
    {{/content.posts.elements}}
    </div>
{{/content.posts.hasElements}}

{{#content.pagination.hasElements}}
    <div class="pagination">
        {{#content.pagination.elements}}
            {{> _partials.pagination}}
        {{/content.pagination.elements}}
    </div>
{{/content.pagination.hasElements}}
</div>
{{/main}}

{{/index}}
