{{<index}}

{{$main}}
<div id="posts" class="wrapper">
    <header>
        <h1>{{site.name}}</h1>
        <p>{{site.tagline}}</p>
        <br>
        <a href="mailto:binarybirdsofficial@gmail.com">Contact us</a>
    </header>

{{#content.posts.hasElements}}
    <div class="grid">
    {{#content.posts.elements}}
        {{> _partials.post}}
    {{/content.posts.elements}}
    </div>
{{/content.posts.hasElements}}

{{#content.pagination.hasElements}}
    <div class="pagination">
        {{#content.pagination.elements}}
            {{> _partials.pagination}}
        {{/content.pagination.elements}}
    </div>
{{/content.pagination.hasElements}}
</div>
{{/main}}

{{/index}}
