{{<index}}

{{$main}}
<div id="tags" class="wrapper">
    <header>
        <h1>{{metadata.title}}</h1>
        <p>{{metadata.description}}</p>
    </header>

    {{#empty(content.tags)}}
    Empty.
    {{/empty(content.tags)}}
    {{^empty(content.tags)}}
    <div class="grid">
    <ul>
    {{#content.tags}}
        <li>{{> _partials.tag}}</li>
    {{/content.tags}}
    </ul>
    </div>
    {{/empty(content.tags)}}
</div>
{{/main}}

{{/index}}
