{{<index}}

{{$main}}
<div id="tags" class="wrapper">
    <header>
        <h1>Tags</h1>
        <p>description</p>
        <br>
        <a href="mailto:binarybirdsofficial@gmail.com">Contact us</a>
    </header>

    <div class="grid">
    {{#content.tags.elements}}
        {{> _partials.tag}}
    {{/content.tags.elements}}
    </div>
</div>
{{/main}}

{{/index}}
