{{<index}}
{{$main}}

{{& page.content}}

<div id="home" class="wrapper">
    <h2>Featured posts</h2>
    {{#empty(page.context.featured)}}
    Empty.
    {{/empty(page.context.featured)}}
    {{^empty(page.context.featured)}}
    <div class="grid grid-321">
    {{#page.context.featured}}
        {{> blog.blocks.post}}
    {{/page.context.featured}}
    </div>
    {{/empty(page.context.featured)}}
    

</div>
{{/main}}
{{/index}}
