{{<html}}
{{$main}}
<div id="docs">
    <div class="left">
        {{> docs.blocks.categories }}
    </div>
    <div class="center">
        <article>
            {{& page.contents}}

            {{#empty(page.categories)}}
            Empty.
            {{/empty(page.categories)}}
            {{^empty(page.categories)}}
            <div>
            <ul>
            {{#page.categories}}
                <li>
                    <a href="{{permalink}}">{{title}}</a>
                </li>
            {{/page.categories}}
            </ul>
            </div>
            {{/empty(page.categories)}}

        </article>
    </div>
    <div class="right">
        {{> blocks.toc }}
    </div>
</div>
{{/main}}
{{/html}}
