<div class="post">
    <a href="{{permalink}}" target="">
        {{#imageUrl}}<img src="{{imageUrl}}" alt="{{title}}">{{/imageUrl}}
        <section>
            <time datetime="{{date}}">{{date}}</time>
            <h2 class="title">{{title}}</h2>
        </section>
        <p>{{description}}</p>
    </a>
</div>
