{{<index}}
{{$main}}
<div id="not-found" class="wrapper">
    <header>
        <h1>{{page.metadata.title}}</h1>
        <p>{{page.metadata.description}}</p>
    </header>
    
    {{& page.content}}
</div>

{{/main}}
{{/index}}
