{{<index}}
{{$main}}

This is a custom template...

<div class="page content-wrapper">
    {{& content.body}}
</div>

<div class="container">
    <article>
        <h1>Lorem ipsum dolor sit amet</h1>
        <h2>Lorem ipsum dolor sit amet</h2>
        <h3>Lorem ipsum dolor sit amet</h3>
        <h4>Lorem ipsum dolor sit amet</h4>
        <h5>Lorem ipsum dolor sit amet</h5>
        <h6>Lorem ipsum dolor sit amet</h6>
        
        <p class="separator">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula quam vestibulum risus aliquet, non consectetur purus placerat. Vivamus gravida tempor porta. Pellentesque cursus, nisl quis maximus pulvinar, eros mi egestas ligula, id pharetra ex nisi a nibh. Sed sed egestas erat. Nulla faucibus viverra leo, quis dignissim mauris tempor ut. Donec vulputate orci a faucibus rutrum. Quisque convallis, est ut lobortis ullamcorper, velit velit tristique lacus, nec sagittis mauris justo vulputate risus.</p>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula quam vestibulum risus aliquet, non consectetur purus placerat. Vivamus gravida tempor porta. Pellentesque cursus, nisl quis maximus pulvinar, eros mi egestas ligula, id pharetra ex nisi a nibh. Sed sed egestas erat. Nulla faucibus viverra leo, quis dignissim mauris tempor ut. Donec vulputate orci a faucibus rutrum. Quisque convallis, est ut lobortis ullamcorper, velit velit tristique lacus, nec sagittis mauris justo vulputate risus.</p>
        
        <hr>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula quam vestibulum risus aliquet, non consectetur purus placerat. Vivamus gravida tempor porta. Pellentesque cursus, nisl quis maximus pulvinar, eros mi egestas ligula, id pharetra ex nisi a nibh. Sed sed egestas erat. Nulla faucibus viverra leo, quis dignissim mauris tempor ut. Donec vulputate orci a faucibus rutrum. Quisque convallis, est ut lobortis ullamcorper, velit velit tristique lacus, nec sagittis mauris justo vulputate risus.</p>
    </article>
</div>



{{/main}}
{{/index}}
