:root {
  --scale: 1rem;
  --link-color: #de2451;
  --hover-link-color: #781a31;
  --selected-link-color: #dd0398;
  --active-link-color: #ff2451;
  --primary-background-color: #fff;
  --secondary-background-color: #f5f5f5;
  --primary-text-color: #000;
  --secondary-text-color: #404040;
  --border-color: #ddd;

  --blue-color: #006fff;
  --green-color: #2ec04f;
  --indigo-color: #4e4cd0;
  --orange-color: #ff8a00;
  --pink-color: #ff284b;
  --purple-color: #a648d9;
  --red-color: #ff342a;
  --teal-color: #50c1f9;
  --yellow-color: #ffc500;
  --brown-color: #987953;
  --gray-color: #838388;
}
@media (display-mode: standalone) {
  :root {
    /*  --bg-color-2: #F2F1F6; */
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --link-color: #ff2451;
    --hover-link-color: #de2451;
    --selected-link-color: #dd0398;
    --active-link-color: #ff2451;
    --primary-background-color: #000;
    --secondary-background-color: #1a1a1a;
    --primary-text-color: #fff;
    --secondary-text-color: #ccc;
    --border-color: #222;

    --blue-color: #0d79ff;
    --green-color: #2acb4e;
    --indigo-color: #5352e2;
    --orange-color: #ff950d;
    --pink-color: #ff3054;
    --purple-color: #b750f0;
    --red-color: #ff3c33;
    --teal-color: #59ccff;
    --yellow-color: #ffd00d;
    --brown-color: #a2835d;
    --gray-color: #8d8d92;
  }
}
@media screen and (min-width: 600px) {
  :root {
    --scale: 1.125rem;
  }
}
@media screen and (min-width: 900px) {
  :root {
    --scale: 1.125rem;
  }
}
@media screen and (min-width: 1200px) {
  :root {
    --scale: 1.25rem;
  }
}
@media screen and (min-width: 1500px) {
  :root {
    --scale: 1.25rem;
  }
}
@media screen and (min-width: 1800px) {
  :root {
    --scale: 1.5rem;
  }
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: var(--scale);
}
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica',
    'Segoe UI', Roboto, Ubuntu;
  font-size: 1.25rem;
  line-height: 1.75rem;
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
}
a {
  text-decoration: none;
}
a:hover,
a:active {
  cursor: pointer;
}
a:link,
a:visited {
  color: var(--link-color);
}
a.selected {
  color: var(--selected-link-color);
}
a:hover {
  color: var(--hover-link-color);
}
a:active {
  color: var(--active-link-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: var(--primary-text-color);
}
h1 {
  font-size: 2.5rem;
  line-height: 3rem;
}
h2 {
  font-size: 2rem;
  line-height: 2.5rem;
  margin-top: 3rem;
}
h3 {
  font-size: 1.75rem;
  line-height: 2rem;
  margin-top: 3rem;
}
h4 {
  font-size: 1.5rem;
  line-height: 1.75;
  margin-top: 2rem;
}
h5 {
  font-size: 1.25rem;
  line-height: 1.625rem;
}
h6 {
  font-size: 1.125rem;
  line-height: 1.5rem;
}
p {
  color: var(--secondary-text-color);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
ol,
ul {
  margin-left: 1rem;
}
li {
  margin-left: 1rem;
}
dt {
  font-weight: bold;
  margin: 0 0.75rem;
}
dd {
  margin-bottom: 1.5rem;
  padding: 0 0.75rem;
}
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
blockquote {
  color: var(--primary-text-color);
  border: 4px solid var(--link-color);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.22);
  background: var(--primary-background-color);
  font-family: Open Sans;
  font-style: italic;
  position: relative;
  padding: 1.5rem;
  margin: 3rem 0;
  border-radius: 4px;
}
p.note {
  position: relative;
  background: var(--primary-background-color);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.22);
  border: 4px solid var(--blue-color);
  padding: 1.5rem;
  margin: 3rem 0;
  border-radius: 4px;
}
p.warning {
  position: relative;
  background: var(--primary-background-color);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.22);
  border: 4px solid var(--orange-color);
  padding: 1.5rem;
  margin: 3rem 0;
  border-radius: 4px;
}
blockquote p {
  margin-top: 0;
}
blockquote::before {
  color: var(--link-color);
  font-family: Arial;
  font-style: italic;
  content: '\201C';
  position: absolute;
  font-size: 10rem;
  top: 23px;
  right: 28px;
}
hr {
  border: none;
  height: 4px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-image: linear-gradient(
    to right,
    var(--link-color),
    rgba(0, 0, 0, 0)
  );
  border-radius: 4px;
}
footer {
  text-align: center;
  padding: 2rem 0rem;
  margin-top: 2rem;
  font-size: 1rem;
  line-height: 2rem;
}
footer p {
  margin-top: 0;
}
footer img {
  width: 80px;
  margin: 1em auto;
}
pre {
  font-size: 1rem;
  line-height: 1.5rem;
  background: var(--primary-background-color);
  padding: 1rem;
  margin: 3rem auto;
  border-radius: 4px;
  border: 1px solid var(--border-color);
}
pre code {
  text-shadow: none;
  font-family: monospace;
  display: block;
  overflow-x: auto;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
}
p code,
li code {
  background: var(--primary-background-color);
  padding: 2px 8px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  color: var(--blue-color);
}
figure,
picture,
img {
  line-height: 0;
}
figure picture img {
  width: 100%;
  margin-top: 1.5rem;
}
time {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: bold;
  color: var(--link-color);
  font-size: 0.8rem;
}
a.button {
  display: inline-block;
  background: var(--link-color);
  padding: 8px 32px;
  margin: 1.5rem auto;
  border-radius: 8px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.22);
  font-size: 1rem;
  color: #fff;
}
a.button:hover {
  background: var(--hover-link-color);
}
.content-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}
.wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem;
}
#page-header {
  margin: 1rem auto;
  text-align: center;
}
.meta {
  margin-top: 0.5rem;
}
.meta .tag {
  text-shadow: 0px 1px 0px #222;
  background: var(--link-color);
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.8rem;
}
#post-header {
  margin-bottom: 2rem;
}
#post-header p,
footer p {
  margin-bottom: 0;
}
#contents,
#share,
#book,
#author {
  margin: 3rem auto;
}
#post-image {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.22);
}
#logo-image {
  width: 80px;
}

#blog header {
  text-align: center;
}

#blog header h1 {
  opacity: 0.2;
  transition: 0.3s;
}

#blog header h1:hover {
  opacity: 1;
  cursor: pointer;
}

#book {
  background: var(--primary-background-color);
  border: 4px solid #de2451;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.22);
  border-radius: 4px;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
}
#book .column {
  padding: 1rem;
}
#book img {
  border: 1px solid var(--border-color);
}
@media screen and (min-width: 480px) {
  #book {
    flex-direction: row;
  }
  #book .left {
    width: 30%;
  }
  #book .right {
    width: 70%;
  }
}
#book img {
  width: 100%;
}
#book p {
  font-size: 1rem;
  line-height: 1.5rem;
}
#author {
  text-align: center;
  margin-top: 4rem;
}
#author p {
  font-size: 1.25rem;
}
#author p.title {
  margin: 0;
}
#author p.bio {
  margin-bottom: 0.5rem;
}
#author .links a {
  margin: 0 0.25rem;
}
#author-image {
  width: 128px;
  border-radius: 64px;
}
#blog header,
#posts header {
  text-align: center;
  margin-bottom: 5rem;
}
#blog header h1,
#posts header h1 {
  opacity: 0.2;
  transition: 0.3s;
}
#blog header h1:hover,
#posts header h1:hover {
  opacity: 1;
  cursor: pointer;
}
#blog .post,
#posts .post {
  border-radius: 4px;
  background: var(--primary-background-color);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden;
}
#blog .post h2,
#posts .post h2 {
  margin-top: 0;
}
#blog .post section,
#blog .post p,
#posts .post section,
#posts .post p {
  padding: 1.5rem;
  padding-top: 0;
}
#blog .post img,
#posts .post img {
  width: 100%;
}
#blog .grid,
#posts .grid {
  display: grid;
  column-gap: 1.5rem;
  row-gap: 4.5rem;
}
#blog .grid .post,
#posts .grid .post {
  grid-column: span 1;
}
@media screen and (min-width: 800px) {
  #blog .grid,
  #posts .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.ribbon {
  z-index: 999;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 2rem;
  padding: 10px 0;
  width: 32px;
  height: 24px;
  text-align: center;
  color: white;
  background: #c9264f;
  font-size: 1rem;
  transition: height 0.2s ease;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 32px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.ribbon::after {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  height: 0;
  width: 0;
  border-left: 16px solid #c9264f;
  border-right: 16px solid #c9264f;
  border-bottom: 12px solid transparent;
}
.ribbon:hover {
  cursor: pointer;
  height: 32px;
}
@media screen and (min-width: 600px) {
  .ribbon {
    width: 48px;
    height: 48px;
    right: 3rem;
    transition: height 0.3s ease;
  }
  .ribbon::after {
    border-left: 24px solid #c9264f;
    border-right: 24px solid #c9264f;
    border-bottom: 16px solid transparent;
  }
  .ribbon:hover {
    cursor: pointer;
    height: 56px;
  }
}
@media screen and (min-width: 800px) {
  .ribbon {
    width: 64px;
    height: 64px;
    right: 4rem;
    transition: height 0.4s ease;
  }
  .ribbon::after {
    border-left: 32px solid #c9264f;
    border-right: 32px solid #c9264f;
    border-bottom: 24px solid transparent;
  }
  .ribbon:hover {
    cursor: pointer;
    height: 80px;
  }
}
