<aside>
    {{#empty(context.toc)}}
    {{/empty(context.toc)}}
    {{^empty(context.toc)}}
    <h4>On this page</h4>
    <ul>
    {{#context.toc}}
        <li class="first-level">
            <a href="#{{fragment}}">{{text}}</a>
            <ul>
            {{#children}}
                <li><a href="#{{fragment}}">{{text}}</a></li>
            {{/children}}
            </ul>
        </li>
    {{/context.toc}}
    </ul>
    {{/empty(context.toc)}}
</aside>
