<header id="page-header">
    <a id="site-logo" href="{{site.baseUrl}}">
        <figure>
            <picture>
                <img
                    id="logo-image"
                    src="{{site.baseUrl}}images/icons/icon-320.png"
                    alt="Logo of {{site.title}}"
                    title="{{site.title}}"
                >
            </picture>
        </figure>
    </a>
    <a href="https://theswiftdev.gumroad.com" class="ribbon">
        📖
    </a>
</header>
