{{<html}}
{{$main}}
    
{{& page.contents}}

<div id="blog" class="wrapper">
    
    <h2>Featured posts</h2>
    {{#empty(page.featured)}}
    Empty.
    {{/empty(page.featured)}}
    {{^empty(page.featured)}}
    <div class="grid grid-321">
    {{#page.featured}}
        {{> blog.blocks.post}}
    {{/page.featured}}
    </div>
    {{/empty(page.featured)}}
    
    <h2>Latest posts</h2>
    {{#empty(page.posts)}}
    Empty.
    {{/empty(page.posts)}}
    {{^empty(page.posts)}}
    <div class="grid grid-321">
    {{#page.posts}}
        {{> blog.blocks.post}}
    {{/page.posts}}
    </div>
    {{/empty(page.posts)}}
    
    
    {{#empty(page.pagination)}}
    {{/empty(page.pagination)}}
    {{^empty(page.pagination)}}
    <div class="pagination">
    {{#page.pagination}}
        {{> blocks.pagination}}
    {{/page.pagination}}
    </div>
    {{/empty(page.pagination)}}

</div>
{{/main}}
{{/html}}
