<div class="card">
<a href="{{permalink}}">
    <center>
    {{#imageUrl}}<img class="medium" src="{{imageUrl}}" alt="{{title}}">{{/imageUrl}}
    <br><br>
    <h2>{{title}}</h2>
    <p>{{count(posts)}} posts</p>
    </center>
</a>
</div>
