{{<index}}
{{$main}}

{{#page.context.post}}
<article>
    <header>
        <section id="post-header" class="content-wrapper">
            <time datetime="{{date}}">{{date}}</time>
            <h1 class="title">{{title}}</h1>
            <p class="excerpt">{{description}}</p>
            {{#empty(tags)}}
            {{/empty(tags)}}
            {{^empty(tags)}}
            <div class="meta">
            {{#tags}}
                {{> blog.blocks.tag}}
            {{/tags}}
            </div>
            {{/empty(tags)}}
            
            {{#empty(authors)}}
            {{/empty(authors)}}
            {{^empty(authors)}}
            <div class="meta">
            {{#authors}}
                {{> blog.blocks.author}}
            {{/authors}}
            </div>
            {{/empty(authors)}}
        </section>

        {{#imageUrl}}<img class="small rounded" src="{{imageUrl}}" alt="{{title}}">{{/imageUrl}}
    </header>

    <section id="contents" class="content-wrapper">
    
    {{& page.content}}
        
    </section>
    
    <h2>Next</h2>
    {{#page.context.next}}
        {{> blog.blocks.post}}
    {{/page.context.next}}
    
    <h2>Prev</h2>
    {{#page.context.prev}}
        {{> blog.blocks.post}}
    {{/page.context.prev}}
    
    <h2>Related</h2>
    {{#empty(page.context.related)}}
    Empty.
    {{/empty(page.context.related)}}
    {{^empty(page.context.related)}}
    {{#page.context.related}}
        {{> blog.blocks.post}}
    {{/page.context.related}}
    {{/empty(page.context.related)}}
    
    <h2>More by author(s)</h2>
    {{#empty(page.context.moreByAuthor)}}
    Empty.
    {{/empty(page.context.moreByAuthor)}}
    {{^empty(page.context.moreByAuthor)}}
    {{#page.context.moreByAuthor}}
        {{> blog.blocks.post}}
    {{/page.context.moreByAuthor}}
    {{/empty(page.context.moreByAuthor)}}

</article>
{{/page.context.post}}

{{/main}}
{{/index}}
