{{<html}}
{{$main}}

<div class="wrapper">
    <header class="blogTitle">
        <h1>Binary Birds Consulting</h1>
        <p>
Consulting page of Binary Birds. We are a team of experienced developers. We are here to help you with your projects. We can help you with development, design and more.
        </p>
    </header>
</div>

{{/main}}
{{/html}}
