{{<index}}
{{$main}}

    <header class="developmentTitle sectionSecondary">
        <h1>Development</h1>
        <img src="{{site.baseUrl}}images/DevCover.webp" alt="Development cover" class="developmentImage">
    </header>
    <section class="section sectionPirmary">
    <h1 class="sectionTitle">Backend</h1>
    <div class="sectionContainer">
        <p>
            Our backend expertise is centered on server-side Swift, harnessing the power and flexibility of the Swift Server Work Group (SSWG). We provide robust backend solutions designed to be secure, efficient, and scalable. Whether you require complex API integrations, real-time data processing, or high-performance server architectures, our team leverages Swift’s modern capabilities to deliver top-tier results that meet your specific needs.
        </p>
    </div>
    </section>
    <section class="section sectionSecondary">
    <h1 class="sectionTitle">Apple Platforms</h1>
    <div class="sectionContainer">
        <p>
            We excel in developing applications across the full spectrum of Apple platforms, including iOS, iPadOS, macOS, tvOS, watchOS, and the innovative visionOS. Our deep knowledge of both UIKit and SwiftUI enables us to create seamless, intuitive, and high-performance applications. Whether you need a sleek iPhone app, a comprehensive desktop application, or an engaging TV interface, our solutions are tailored to provide a superior user experience on each device.        </p>
    </div>
    </section>
    <section class="section sectionPrimary">
    <h1 class="sectionTitle">Web Development</h1>
    <div class="sectionContainer">
        <p>
            In the realm of web development, we offer comprehensive services that cater to a variety of needs, from administrative and content management systems (CMS) to sophisticated web applications. Our technology stack includes React, Next.js, and TypeScript, which we use to build dynamic, responsive, and user-friendly web interfaces. Whether you’re looking for a powerful admin panel, a flexible CMS, or a cutting-edge user interface, our team delivers web solutions that are both aesthetically pleasing and functionally robust.        </p>
    </div>
    </section>

{{/main}}
{{/index}}
