{{<index}}
{{$main}}

{{& content}}

<div id="authors" class="wrapper">

    {{#empty(context.authors)}}
    Empty.
    {{/empty(context.authors)}}
    {{^empty(context.authors)}}
    <div class="grid grid-421">
    {{#context.authors}}
        {{> blog.blocks.author}}
    {{/context.authors}}
    </div>
    {{/empty(context.authors)}}
    
</div>

{{/main}}
{{/index}}
