{{<index}}
{{$main}}

{{& content}}

<div id="tags" class="wrapper">

    {{#empty(context.tags)}}
    Empty.
    {{/empty(context.tags)}}
    {{^empty(context.tags)}}
    <div class="grid grid-321">
    {{#context.tags}}
        {{> blog.blocks.tag}}
    {{/context.tags}}
    
    </div>
    {{/empty(context.tags)}}
</div>

{{/main}}
{{/index}}
