h2 {
    margin-top: 64px;
    margin-bottom: 16px;
}
details {
    border: 8px solid var(--primary-text-color);
    margin-bottom: 16px;
    transition:height 3s ease-in;
}
summary {
    position: relative;
    padding: 16px;
    padding-bottom: 8px;
    list-style: none;
    justify-content: space-between;
    transition: height 1s ease;
    
}
/*details[open] summary ~ * {*/
/*  animation: sweep .5s ease-in-out;*/
/*}*/
/**/
/*@keyframes sweep {*/
/*  0%    { opacity: 0; }*/
/*  100%  { opacity: 1; }*/
/*}*/

summary h3 {
    margin-top: 0;
}

summary:hover {
    cursor: pointer;
}
summary::-webkit-details-marker {
    display: none;
}
summary:after {
    content: "\002B";
    color: var(--primary-text-color);
    font-size: 32px;
    font-weight: 800;
    position: absolute;
    top: 0;
    right: 12px;
}

details[open] summary:after {
    content: "\00D7";
}

summary + div {
    font-size: 1.5rem;
    border-top: 8px solid var(--primary-text-color);
    padding: 16px;
/*    background: var(--primary-text-color);*/
/*    color: var(--primary-background-color);*/
    
}
details[open] div {
    
}
