{{<html}}
{{$main}}
<section class="primary">
    <div class="wrapper">
        <header>
            <h1>All posts</h1>
            <p>Browse all</p>
        </header>

    {{#empty(pagination.data.post)}}
        Empty.
    {{/empty(pagination.data.post)}}
    {{^empty(pagination.data.post)}}
        <div class="grid grid-221">
        {{#pagination.data.post}}
            {{> blog.blocks.post}}
        {{/pagination.data.post}}
        </div>
    {{/empty(pagination.data.post)}}
    
    {{#empty(pagination.links.post)}}
    {{/empty(pagination.links.post)}}
    {{^empty(pagination.links.post)}}
        <div class="pagination">
        {{#pagination.links.post}}
            {{> blocks.pagination}}
        {{/pagination.links.post}}
        </div>
    {{/empty(pagination.links.post)}}

    </div>
</section>

{{/main}}
{{/html}}
