{{<index}}

{{$main}}

<div id="author-page" class="wrapper">
    <header>
        <h1>{{content.author.title}}</h1>
        <p>{{content.author.description}}</p>                
        {{#content.author}}
        {{> _partials.figure}}
        {{/content.author}}
    </header>

    {{#empty(content.posts)}}
    Empty.
    {{/empty(content.posts)}}
    {{^empty(content.posts)}}
    <div class="grid">
    {{#content.posts}}
        {{> _partials.post}}
    {{/content.posts}}
    </div>
    {{/empty(content.posts)}}
    
</div>

{{/main}}

{{/index}}
