{{<index}}

{{$main}}

<div id="author-page" class="wrapper">
    <header>
        <h1>{{content.author.title}}</h1>
        <p>{{content.author.description}}</p>                
        {{#content.author}}
        {{> _partials.figure}}
        {{/content.author}}
    </header>

{{#content.posts.hasElements}}
    <div class="grid">
    {{#content.posts.elements}}
        {{> _partials.post}}
    {{/content.posts.elements}}
    </div>
{{/content.posts.hasElements}}

</div>

{{/main}}

{{/index}}
