{{<index}}

{{$main}}

<div id="author-page" class="wrapper">
    <header>
        <h1>{{content.name}}</h1>
        <p>{{content.description}}</p>
    </header>

    <div class="grid">
    {{#content.posts}}
        {{> _partials.post}}
    {{/content.posts}}
    </div>
</div>

{{/main}}

{{/index}}
