{{<index}}

{{$main}}

<div id="posts" class="wrapper">
    <header>
        <h1>{{content.tag.title}}</h1>
        <p>{{content.tag.description}}</p>
    </header>

{{#content.posts.hasElements}}
    <div class="grid">
    {{#content.posts.elements}}
        {{> _partials.post}}
    {{/content.posts.elements}}
    </div>
{{/content.posts.hasElements}}

</div>

{{/main}}

{{/index}}
