{{<index}}

{{$main}}

<div id="posts" class="wrapper">
    <header>
        <h1>{{content.tag.title}}</h1>
        <p>{{content.tag.description}}</p>
    </header>

    {{#empty(content.posts)}}
    Empty.
    {{/empty(content.posts)}}
    {{^empty(content.posts)}}
    <div class="grid">
    {{#content.posts}}
        {{> _partials.post}}
    {{/content.posts}}
    </div>
    {{/empty(content.posts)}}
</div>

{{/main}}

{{/index}}
