{{<html}}
{{$main}}
<div class="page-wrapper">

{{& page.contents}}

<h2>Podcast episodes</h2>
{{#empty(site.context.podcasts)}}
Empty.
{{/empty(site.context.podcasts)}}
{{^empty(site.context.podcasts)}}
<div class="grid grid-1">
{{#site.context.podcasts}}
    {{> podcasts.blocks.podcast}}
{{/site.context.podcasts}}
</div>
{{/empty(site.context.podcasts)}}


{{#empty(page.pagination)}}
{{/empty(page.pagination)}}
{{^empty(page.pagination)}}
<div class="pagination">
{{#page.pagination}}
    {{> blocks.pagination}}
{{/page.pagination}}
</div>
{{/empty(page.pagination)}}

</div>
{{/main}}
{{/html}}
