name: Run tests

on:
  push:
    branches:
    - main
    paths:
    - '**.swift'
  pull_request:
    branches:
    - main

jobs:
  
  # macOS-tests:
  #   runs-on: self-hosted
  #   steps:
  #  
  #   - name: Checkout
  #     uses: actions/checkout@v4
  #
  #   - name: Test
  #     run: swift test --parallel --enable-code-coverage
  
  linux-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image:
          - 'swift:6.0'
    container:
      image: ${{ matrix.image }}
    steps:
    
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: Swift version
      run: swift --version

    - name: Test
      run: swift test --parallel --enable-code-coverage
