<footer>
    <section>
        <figure>
            <picture>
                <source
                    srcset="{{site.baseUrl}}images/logos/logo~dark.png"
                    media="(prefers-color-scheme: dark)"
                >
                <img
                    id="logo-image"
                    src="{{site.baseUrl}}images/logos/logo.png"
                    alt="Logo of {{site.title}}"
                    title="{{site.title}}"
                >
            </picture>
        </figure>

        <p>This site was generated using the <a href="https://swift.org/" target="_blank">Swift</a> programming language.</p>
        
        <p>
            <a href="https://binarybirds.com/">Home</a> ·
            <a href="mailto:binarybirdsofficial@gmail.com">Email</a> ·
            <a href="https://github.com/binarybirds/">GitHub</a> ·
            <a href="https://x.com/tiborbodecs">Twitter</a> ·
        </p>

        <small>{{site.title}} &copy; 2022 - {{year}}.</small>
    </section>
</footer>
